{% extends "empty_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}

<div class="block block-coldbg accounttitle">
  <div class="content">
    <div class="accounttitle-actions">
    <h1>Login</h1>
  </div>
</div>
</div>

<div class="content grid grid-account">
  <div>
      {% if not user.is_authenticated %}



  <form method="post" action="{% url 'login' %}?next={{request.get_full_path|urlencode}}">
  {% csrf_token %}

    <div class="formrow">
      {{ loginform.username.label_tag }}
      {{ loginform.username }}
    </div>
    <div class="formrow">
      {{ loginform.password.label_tag }}
      <a href="{% url 'password_reset' %}"> {% trans 'password-reset' %} </a>
      {{ loginform.password }}
    </div>
    <input type="submit" class="btn btn-primary" value="Login">
    <input type="hidden" name="next" value="{{ request.get_full_path }}">
  </form>


  <h4>{% trans 'wanna-register' %}</h4>
  <p class="note">{% trans 'wanna-register-incentive' %}</p>

  <form method="post" action="{% url 'add_user' %}">
    {% csrf_token %}
    <div class="formrow">
      {{ signupform.username.label_tag }}
      {{ signupform.username }}
    </div>
    <p class="note">Ti invieremo una password a questo indirizzo</p>
    <input type="submit" class="btn btn-primary" value="{% trans 'register' %}">
    <input type="hidden" name="next" value="{{ request.get_full_path }} " />

  </form>
      {% else %}
  {% trans 'already-logged-in' %}
    {% endif %}

  </div>

</div>



{% endblock %}


