{% load static %}
<div class="cloak" id="popupWPConf">
  <div class="popup-container">
    <div class="popup">

      <div class="overlay-title">
        <h4>Configura la tua parete</h4>
        <button class="btn popup-close"><svg class="icon icon-l"><use xlink:href="{% static 'images/svgdefs.svg#icon-overlay-close' %}"/></svg></button>
      </div>

      <div class="popup-content configurator">
        <div class="configurator-imgholder">
          <div class="configurator-img" id="WPConf-img">
            <img src="https://taleoftiles.s3.amazonaws.com/photos/styleditions_carta_da_parati_bruma_minimale_marrone.jpg" onload="setWPimgSize(event)">
            <div class="configurator-band" id="WPConf-band0"></div>
            <div class="configurator-band" id="WPConf-band1"></div>
          </div>
        </div>
        <div class="configurator-info">
          <h3>Quanto è grande, in centimetri, la parete da tappezzare?</h3>
          <div class="configurator-sizes">
            <div class="input-qty">
              <h5>Larghezza</h5>
              <input type="number" min="0" max="10000" value="400" id="WPConf-width">
              <div class="product-qtybtns">
                <svg class="icon-m icon" onclick="removeCM('w')"><use xlink:href="{% static 'images/svgdefs.svg#icon-minus' %}"/></svg>
                <span class="product-note">cm</span>
                <svg class="icon-m icon" onclick="addCM('w')"><use xlink:href="{% static 'images/svgdefs.svg#icon-add' %}"/></svg>
              </div>
            </div>
            <div class="configurator-times">&times;</div>
            <div class="input-qty">
              <h5>Altezza</h5>
              <input type="number" min="0" max="10000" value="250" id="WPConf-height">
              <div class="product-qtybtns">
                <svg class="icon-m icon" onclick="removeCM('h')"><use xlink:href="{% static 'images/svgdefs.svg#icon-minus' %}"/></svg>
                <span class="product-note">cm</span>
                <svg class="icon-m icon" onclick="addCM('h')"><use xlink:href="{% static 'images/svgdefs.svg#icon-add' %}"/></svg>
              </div>
            </div>
          </div>
          <p>Questa è un'anteprima rapida del ritaglio che otterrai sulla tua parete. Per completare la richiesta, aggiungi al carrello il prodotto: al checkout, potrai indicare le dimensioni precise e le eventuali caratteristiche delle pareti che vuoi tappezzare, e ti invieremo un preventivo preciso e un rendering dell’effetto finale.</p>
        </div>
      </div>

      <div class="popup-actions">
        <button class="btn btn-secondary popup-close"><span>Chiudi senza aggiungere al carrello</span></button>
        <button class="btn btn-primary" onClick="addAndClose()" id="WPConf-addToCart"><span>Aggiungi al carrello <strong></strong></span></button>
      </div>

    </div>

  </div>
</div>

<script>

  /* Popup */

  let popups = document.querySelectorAll(".cloak"),
    body;

  function dontPropagate(e) {
    e.stopImmediatePropagation();
  }

  function enablePopups() {
    body = document.body;
    Array.from(popups).forEach((p) => {
      p.removeEventListener("click", closePopup);
      p.addEventListener("click", closePopup);
    });
    Array.from(document.querySelectorAll(".popup")).forEach((p) => {
      p.removeEventListener("click", dontPropagate);
      p.addEventListener("click", dontPropagate);
    });
    Array.from(document.querySelectorAll(".popup-close")).forEach((p) => {
      p.removeEventListener("click", closePopup);
      p.addEventListener("click", closePopup);
    });
  }
  if (popups.length) enablePopups();

  let openPopup = function (id) {
    if (!body) enablePopups();
    let popupToOpen = document.getElementById(id);
    body.classList.add("noscroll");
    popupToOpen.style.display = "block";
    Array.from(popups).forEach((p) => {
      p.classList.remove("visible");
    });
    setTimeout(function () {
      popupToOpen.classList.add("visible");
      try {
        popupToOpen.init();
      } catch (e) {}
    }, 50);
  };

  function addAndClose() {
    console.log("add to cart and close");
    closePopup();
  }

  function closePopup() {
    body.classList.remove("noscroll");
    Array.from(popups).forEach((p) => {
      p.classList.remove("visible");
    });
    setTimeout(function () {
      Array.from(popups).forEach((p) => {
        p.style.display = "none";
      });
    }, 500);
  }

  window.openPopup = openPopup;

  /* Change measures */

  let addWPtoCart = document.getElementById("WPConf-addToCart"),
    WPimgBand0 = document.getElementById("WPConf-band0"),
    WPimgBand1 = document.getElementById("WPConf-band1"),
    sizeFields = {
      w: document.getElementById("WPConf-width"),
      h: document.getElementById("WPConf-height")
    },
    imgRatio;

  function setWPimgSize(e) {
    imgRatio = e.target.naturalWidth / e.target.naturalHeight;
    drawImgBands();
  }

  function drawImgBands() {
    if ( !imgRatio ) return;
    let selectedRatio = (+sizeFields.w.value) / (+sizeFields.h.value),
      bandSize = 0;
    if ( selectedRatio > imgRatio ) {
      bandSize = ( 100 - ( 100*imgRatio ) / selectedRatio ) / 2;
      WPimgBand0.style.left = 0;
      WPimgBand0.style.right = 0;
      WPimgBand0.style.top = 0;
      WPimgBand0.style.bottom = "auto";
      WPimgBand0.style.width = "auto";
      WPimgBand0.style.height = bandSize + "%";
      WPimgBand1.style.left = 0;
      WPimgBand1.style.right = 0;
      WPimgBand1.style.top = "auto";
      WPimgBand1.style.bottom = 0;
      WPimgBand1.style.width = "auto";
      WPimgBand1.style.height = bandSize + "%";
    } else if ( selectedRatio < imgRatio ) {
      bandSize = ( 100 - ( 100/imgRatio ) * selectedRatio ) / 2;
      WPimgBand0.style.top = 0;
      WPimgBand0.style.bottom = 0;
      WPimgBand0.style.left = 0;
      WPimgBand0.style.right = "auto";
      WPimgBand0.style.width = bandSize + "%";
      WPimgBand0.style.height = "auto";
      WPimgBand1.style.top = 0;
      WPimgBand1.style.bottom = 0;
      WPimgBand1.style.left = "auto";
      WPimgBand1.style.right = 0;
      WPimgBand1.style.width = bandSize + "%";
      WPimgBand1.style.height = "auto";
    } else {
      WPimgBand0.style.width = 0;
      WPimgBand0.style.height = 0;
      WPimgBand1.style.width = 0;
      WPimgBand1.style.height = 0;
    }
  }

  function calcWallsize() {
    let wallSize = Math.ceil( (+sizeFields.w.value) * (+sizeFields.h.value) / 10000 );
    drawImgBands();
    if ( wallSize > 0 ) {
      addWPtoCart.querySelector('strong').innerHTML = wallSize + 'mq';
      addWPtoCart.disabled = false;
    } else {
      addWPtoCart.querySelector('strong').innerHTML = '';
      addWPtoCart.disabled = true;
    }
  }

  function addCM(side){
    let field = sizeFields[side];
    field.value = Math.min(10000, +field.value + 1);
    calcWallsize();
  }

  function removeCM(side){
    let field = sizeFields[side];
    field.value = Math.max(0, +field.value - 1);
    calcWallsize();
  }

  sizeFields.w.addEventListener("change", calcWallsize);
  sizeFields.h.addEventListener("change", calcWallsize);
  sizeFields.w.addEventListener("keyup", calcWallsize);
  sizeFields.h.addEventListener("keyup", calcWallsize);

  calcWallsize();

</script>