{% load i18n %}
{% load view_extra %}
{% load static %}


 <div class="overlay-title">
     
    <h4>{% trans 'your-sampler' %}</h4>
    <button class="btn"  onclick="Javascript:closeSampler()"><svg class="icon icon-l">
      <use xlink:href="{% static 'images/svgdefs.svg#icon-overlay-close' %}"/></svg></button>
  </div>
  
  {% if sampler.all_samples %}
  <div class="grid grid-sampleslots">

    {% for sample in sampler.all_samples %}
      <div class="sampleslot" style="background-image:url('{{ sample.product.cover.imagefile.url }}')">

        <a href="{% url 'product' sample.product.code %}">
          <div class="sampleslot-name">
            <h5>{{sample.product.serie}}</h5>
            <span>{{sample.product.name}}</span>
          </div>
        </a>
        <button class="btn" onClick="removeFromSampler('{{ sample.product.code }}')"><svg class="icon icon-l"><use xlink:href="{% static 'images/svgdefs.svg#icon-delete' %}"/></svg></button>
      </div>
    {% endfor %}
    
  </div>
  
  <a href="{% url 'add_sample_order' %}?prv={{request.get_full_path|urlencode}}"> 
    <button class="btn btn-primary"><span>{% trans 'receive-sample-home' %}</span><svg class="icon icon-m">
      <use xlink:href="{% static 'images/svgdefs.svg#icon-arrow-right' %}"/></svg></button></a> 
  {% else %}
    {% blocktrans %} sampler-empty-claim {% endblocktrans %}
  {% endif %}

  {% if not user.is_authenticated %}
    <p class="note"><a href="" data-overlay="Auth">{% trans 'register-login' %}</a> {% trans 'register-login-claim' %}</p>
  {% endif %}


  {{message}}

<script>
  function closeSampler(  ) {
    $("#overlaySamples").removeClass('visible');     
}

</script>