django
waitress
django-heroku
requests
pillow
django-summernote
django_reverse_admin
django-recaptcha
numpy
django-modeltranslation
sendgrid
boto3
django-storages
django-translations
django-crispy-forms
django_rest_framework
django-termsandconditions
django-import_export
akismet
