django
gunicorn
django-heroku
requests
pillow
django-summernote
django_reverse_admin
numpy
django-modeltranslation
sendgrid
boto3
django-storages
django-translations
django-crispy-forms
