<!DOCTYPE html>
<html lang="en">
<head>

  <!-- SITE TITTLE -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
  {% block title %}{% endblock %}
  </title>

  {% load static %}

  <!-- FAVICON -->
  <link href="img/favicon.png" rel="shortcut icon">
  <!-- PLUGINS CSS STYLE -->
  <!-- <link href="plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet"> -->
  <!-- Bootstrap -->

{% block meta-tag %} {% endblock %}

</head>

<body >

{% load i18n %}
{% load view_extra %}

<menu>


{% trans 'language' %}
{% trans 'currency' %}

</menu>

<!--  LOGO !-->
<a href="{% url 'index' %}"> <img src="{% static 'images/logo.png' %}" width="100"> </a>

<menu>


<footer class="footer">
  some footer content

</footer>

</body>

</html>



