{% extends "empty_base.html" %}
{% load view_extra %}
{% load i18n %}

{% block title%} {{ product.publication.title }} {% endblock%}

{% load static %}


{% block content %}

{{ product.publication.title }}

<br/>


{{product|serie}}

{% for image in product.images.all %}  
<img  src="{{ image.imagefile.url }}" >
{% endfor %}

<br/>

{% autoescape off %}
	{{ product.publication.content }} 
{% endautoescape %}

<!-- scheda tecnica -->
{{ product.techspec }} 

<!-- ICONE scheda tecnica -->
{% for icon in product.techspec.icons.all %}  
	<img  src="{{ icon.imagefile.url }}" >
{% endfor %}

{% for colour in product|colour %}  
	{{colour.name}}       
{% endfor %}

{% for effect in product|effects %}  
	{{effect.name}}       
{% endfor %}


{% for style in product|styles %}  
	{{style.name}}       
{% endfor %}


{% for finish in product|finishes %}  
	{{finish.name}}       
{% endfor %}


{{product.price}}

<h3>{% trans 'product-support' %}</h3>

{% for support in product.supports.all %}  
	{{support}}
{% endfor %}

<h3>{% trans 'product-same-serie' %}</h3>
{% for brother_product in products_series.all %}  
	{{brother_product}}
{% endfor %}

<hr>
<!-- SAMPLER !-->

{% if sampler and sampler.all_samples.count >= 4 %}

	HAI RIEMPITO IL SAMPLER
{% elif sampler|is_in_sample:product.code %}

	QUESTO PRODOTTO E' NEL SAMPLER 

{% else %}

	<form  action="{% url 'add_sample' product.code %}" method="POST"> 
		{% csrf_token %}
		<button > {% trans 'add-sampler-button' %}</button>
	</form>
{% endif %}

{% trans 'add-sampler-text' %}

<hr>

<!-- 
<form  action="{{request.get_full_path|urlencode}}" method="POST"> 
	{% csrf_token %}

	{% for price in product.prices.all %}  
		<input type="radio" name="size" value="{{price.size.name}}">{{price.size.name}} 
	{% endfor %}

	<button > refresh price</button>
</form>
 -->

<!-- CHART calc !-->

<form  action="{% url 'add_chart' product.code %}" method="POST"> 

	{% csrf_token %}

	{{chi_form.size.label_tag}}
	{{chi_form.size}}
	{{chi_form.product}}
	{{chi_form.has_frido}}
	{{chi_form.has_frido.label_tag}}
	
	{{chi_form.quantity.label_tag}}
	{{chi_form.quantity}}


	<button> {% trans 'add-chart-button' %} </button>

</form>


{% endblock %}

