{% extends "capsule_base.html" %}
{% load view_extra %}
{% load i18n %}
{% load static %}

{% block title%} {% trans 'home-page-name' %} {% endblock%}
{% block description-meta-tag %} {% trans 'home-description-meta-tag' %} {% endblock %}
{% block keywords-meta-tag %} {% trans 'home-keywords-meta-tag' %} {% endblock %}

{% block content %}


<div class="cover cover-capsule" >
  <div class="content">
    <div class="cover-title">
      
    </div>
  </div>
</div>



<div class="content grid grid-catalogue">

  <aside>
    
    <div class="">
      <div class="">
          <h2><a>qualcosadierre</a></h2>
      </div>
    </div>

  </aside>

  <section>

      <p>
      Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è considerato il testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo tipografo prese una cassetta di caratteri e li assemblò per preparare un testo campione. È sopravvissuto non solo a più di cinque secoli, ma anche al passaggio alla videoimpaginazione, pervenendoci sostanzialmente inalterato. Fu reso popolare, negli anni ’60, con la diffusione dei fogli di caratteri trasferibili “Letraset”, che contenevano passaggi del Lorem Ipsum, e più recentemente da software di impaginazione come Aldus PageMaker, che includeva versioni del Lorem Ipsum.
      </p>
    <br/> 

    <div class="grid grid-catalogue-products infinite-container" id="grid-catalogue-products">
        
      {% for product in products %}
        {% include 'capsule_thumb.html' %}
      {% endfor %}

    </div>

    <p>
      Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è considerato il testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo tipografo prese una cassetta di caratteri e li assemblò per preparare un testo campione. È sopravvissuto non solo a più di cinque secoli, ma anche al passaggio alla videoimpaginazione, pervenendoci sostanzialmente inalterato. Fu reso popolare, negli anni ’60, con la diffusione dei fogli di caratteri trasferibili “Letraset”, che contenevano passaggi del Lorem Ipsum, e più recentemente da software di impaginazione come Aldus PageMaker, che includeva versioni del Lorem Ipsum.
      </p>

    <br/> 

    <h5> Pagamenti sicuri con Paypal o carta di credito.</h5>
<br/> <br/> 

  </section>

</div>

<input type="hidden" id="hidden_url_data" value="{{url_data}}"> 
<input type="hidden" id="hidden_page" value="{{products.number}}"> 


{% endblock %}

