{% extends "capsule_base.html" %}
{% load caps_extra %}
{% load i18n %}
{% load static %}

{% block title%} {{influencer.long_name}} | Capsule Wallpaper Collection {% endblock%}
{% block description-meta-tag %} {% trans 'home-description-meta-tag' %} {% endblock %}
{% block keywords-meta-tag %} {% trans 'home-keywords-meta-tag' %} {% endblock %}


{% block extra_css %}
<style type="text/css">

.logo,.overlay  {
  background-color: #{{influencer.palette1}};
}

.nav-primary {
  background-color: #{{influencer.palette2}};
}

footer, .cover{
  background-color: #{{influencer.palette3}};
}

</style>
{% endblock%}

            
{% block logo_compact %} 

  {% with "images/capsule/"|addstr:influencer.name|addstr:"/logo_mono.png" as LOGOFILE %}

    <img  src=" {% static LOGOFILE %} " alt="{{ influencer.long_name }} " class="logo-compact" >

  {% endwith %}

{% endblock%}

{% block logo %} 

{% with "images/capsule/"|addstr:influencer.name|addstr:"/logo.png"  as LOGOFILE %}

  <img  src="{% static LOGOFILE %}" alt="{{ influencer.long_name }} " class="logo-compact" >
  {% endwith %}
{% endblock%}



{% block content %}


{% with "images/capsule/"|addstr:influencer.name|addstr:"/capsule_homepage.jpeg" as IMAGENAME %}

<div class="cover cover-capsule" style="background-image: url('{% static IMAGENAME %}')">

  <div class="content">
    <div class="cover-title">
     
    </div>
  </div>
</div>

{% endwith %}

<div class="content grid grid-catalogue">

  <aside>
    <div class="">
      <div class="">
          <h2><a>{{influencer.long_name}}</a></h2>
               {% autoescape off %}
          <p> {{influencer.description.content}} </p>
       {% endautoescape %}
      </div>
    </div>

  </aside>

  <section>
    <div class="grid grid-catalogue-products infinite-container" id="grid-catalogue-products">
        
      {% for product in influencer.name.products.all %}
        {% include 'capsule_thumb.html' %}
      {% endfor %}

    </div>
 

    <br/> 

    <h5> Pagamenti sicuri con Paypal o carta di credito.</h5>
<br/> <br/> 

  </section>

</div>



{% endblock %}

