{% load view_extra %}
<article>
	<div class="post-slider">
			{% for image in post_info.images.all.all%}
				<div class="item">
					<img class="thumb" 
					src="{{ image.imagefile.url }}" 
					alt="{{ image.name }}">
				</div>

			{% endfor %}
	</div>
	<h3> {{post_info.publication.title}} </h3>
	<ul class="list-inline">
		<li class="list-inline-item">by <a href="">Admin</a></li>
		<li class="list-inline-item">post_info.publication.publish_date</li>
		<li class="list-inline-item"><i class="fa fa-folder-open-o"> Category</i>
			{% for tag in post_info.publication.tag.all%}
				{{tag}}
			{% endfor %}

		</li>
		
	</ul>
	<p>{{post_info.publication.content}}</p>
	<a href="{% url 'post' post_info.publication.slug %}" class="btn btn-transparent">Read More</a>
</article>
