{% load view_extra %}

<!-- product card -->
<div class="product-item bg-light">
	<div class="card">
		<div class="thumb-content">
			<div class="price">TUO a partire da: {{ setting_info.price}}€/m2</div>
			<a href="{% url 'setting' setting_info.publication.slug %}">
				{% if setting_info.images.all.0 %}
				<img class="card-img-top img-fluid" 
				src="{{ setting_info.images.all.0.imagefile.url }}" 
				alt="{{ setting_info.publication.title }}">
				{% endif %}
			</a>
		</div>
		<div class="card-body">
		    <h4 class="card-title">
		    	<a href="{% url 'setting' setting_info.publication.slug %}"> {{ setting_info.publication.title }}</a>
		    </h4>
		    <ul class="list-inline product-meta">
		    	<li class="list-inline-item">
					{% for tag in settings.publication.tag.all%}
						<a href="{% url 'settings' tag.slug %}"><i class="fa fa-folder-open-o"></i>{{tag.name}}</a>
					{% endfor %}

		    	</li>
		    	<li class="list-inline-item">
		    		<a href="#"><i class="fa fa-calendar"></i>26th December</a>
		    	</li>
		    </ul>
		    <p class="card-text">
		    	{{ setting_info.publication.content|truncatechars:250}}
		    	<a href="{% url 'setting' setting_info.publication.slug %}"> ... </a>
		    </p>

		</div>
	</div>
</div>
