{% load static %}
          <input type="radio" name="size" value="100" id="id_size_0" required="" checked>
          <label for="id_size_0" id="label_id_size_0">11x11 h1.5</label>
      
          <input type="radio" name="size" value="103" id="id_size_1" required="">
          <label for="id_size_1" id="label_id_size_1">19x19 h2.5</label>
      
          <input type="radio" name="size" value="102" id="id_size_2" required="">
          <label for="id_size_2" id="label_id_size_2">5,5x25 h2.5</label>
      
          <input type="radio" name="size" value="109" id="id_size_3" required="">
          <label for="id_size_3" id="label_id_size_3">Coda di Pavone h1.7</label>
      
          <input type="radio" name="size" value="104" id="id_size_4" required="">
          <label for="id_size_4" id="label_id_size_4">Esagono lato 14 h2.5</label>
      
          <input type="radio" name="size" value="106" id="id_size_5" required="">
          <label for="id_size_5" id="label_id_size_5">Losanga 30x10 h2.5</label>
      
          <input type="radio" name="size" value="105" id="id_size_6" required="">
          <label for="id_size_6" id="label_id_size_6">Rombo lato 14 h2.5</label>
      
          <input type="radio" name="size" value="108" id="id_size_7" required="">
          <label for="id_size_7" id="label_id_size_7">Stella e Croce lato 17.6 h2.5</label>
      
          <input type="radio" name="size" value="107" id="id_size_8" required="">
          <label for="id_size_8" id="label_id_size_8">Triangolo lato 9.5 h1.6</label>



          