{% load static %}

<b style="display: inline;" name="sm_price_catch" id="sm_price_catch_11x11 h1.5">341</b>
<b style="display: none;" name="sm_price_catch" id="sm_price_catch_19x19 h2.5">274</b>
<b style="display: none;" name="sm_price_catch" id="sm_price_catch_5,5x25 h2.5">341</b>
<b style="display:none;" name="sm_price_catch" id="sm_price_catch_Coda di Pavone h1.7">354</b>
<b style="display:none;" name="sm_price_catch" id="sm_price_catch_Esagono lato 14 h2.5">274</b>
<b style="display:none;" name="sm_price_catch" id="sm_price_catch_Losanga 30x10 h2.5">274</b>
<b style="display:none;" name="sm_price_catch" id="sm_price_catch_Rombo lato 14 h2.5">317</b>
<b style="display:none;" name="sm_price_catch" id="sm_price_catch_Stella e Croce lato 17.6 h2.5">341</b>
<b style="display:none;" name="sm_price_catch" id="sm_price_catch_Triangolo lato 9.5 h1.6">403</b>




          