{% extends "empty_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}

<div class="block block-coldbg accounttitle">
  <div class="content">
    <div class="accounttitle-actions">
    <h1>Successfully reset your password</h1>
  </div>
</div>
</div>

<div class="content grid grid-account">

	<div class="formrow">
		<p>
		You have successfully set your new password - please login clicking on the upper right "Login" menu voice. 
		</p>                  
	</div>

</div>


{% endblock %}