{% extends "empty_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}

<div class="block block-coldbg accounttitle">
  <div class="content">
    <div class="accounttitle-actions">
    <h1>Password Reset</h1>
  </div>
</div>
</div>

<div class="content grid grid-account">
  <div>

    <h2>Forgotten your password?</h2><h3> Enter your email address below, and we'll email instructions for setting a new one.</h3>
		<form method="POST">
            {% csrf_token %}
			<div class="formrow">
            {{ password_reset_form|crispy }}                    
			</div>
            <button class="btn btn-primary" type="submit">{% trans 'send-password' %}</button>
        </form>
  </div>

</div>



{% endblock %}