{% extends "empty_base.html" %}
{% load view_extra %}

{% load static %}

{% block title %} 404 | Page not Found {% endblock %}


{% block content %}


    <h1 class="display-1 pt-1 pb-2">Oops</h1>
    <p class="px-3 pb-2 text-dark">Something went wrong,we can't find the page that you are looking for :(But there is a lot more for you!</p>
    <p class="px-3 pb-2 ">{{message}}</p>


    <a href="index.html" class="btn btn-info">GO HOME</a>
                    
{% endblock %}

