{% extends "empty_base.html" %}
{% load i18n %}

{% load view_extra %}

{% block title%} Tale of Tiles | {% trans 'the_blog' %} {% endblock%}

{% load static %}

{% block content %}



{% for order in orders %}
	{{ order }}	
	{{ order.profile }}	
	{{ order.internal_tracking_id }}
	{{ order.status }}

{% endfor %}

<a href="{% url 'logout' %}?next=/"> LOGOUT </a>

{{ profile.shipping.fullname }}
{{ profile.shipping.country }}
{{ profile.shipping.city }}
{{ profile.shipping.CAP }}
{{ profile.shipping.shipping_address }}
{{ profile.shipping.telephone_num }}


- {{ profile.user.username }} -
- ********* - 

{% endblock %}

