{% extends "empty_base.html" %}
{% load i18n %}

{% load view_extra %}

{% block title%} Tale of Tiles | {% trans 'the_blog' %} {% endblock%}

{% load static %}

{% block content %}



{% for order in profile.user.orders.all %}
	
	{{ order }}

{% endfor %}

<a href="{% url 'logout' %}?next=/"> LOGOUT </a>

{{ profile.user.shipping.fullname }}
{{ profile.user.shipping.country }}
{{ profile.user.shipping.city }}
{{ profile.user.shipping.CAP }}
{{ profile.user.shipping.shipping_address }}
{{ profile.user.shipping.telephone_num }}


- {{ profile.user.username }} -
- ********* - 

{% endblock %}

