{% extends "base.html" %}

{% load static %}

{% block content %}
  <div class="container">


<h2>ALL BLOG POST</h2>

<div class="col-md-3 ml-auto">
  <div class="row ">

  <h3>MENU</h3>

  <aside class="sidebar">
    <ul>
      {% for tag in menu_tags %}
        <li>{{ tag.name }}</li>
      
      {% endfor %}
      </ul>
      
  </aside>
  </div>
</div>



<div class="col-md-9 ">

  <div class="row ">
    {% for post in posts %}
    <div class="col-4 ">
     

      <li>{{ post.title }}</li>

      <a href="{% url 'post' post.slug %}">{{ post.slug }}</a>
    
      <a>  <img src="{{ post.image.imagefile.url }}"  class="card-img"></a>

    </div>
    <div class="col-4 ">
     

      <li>{{ post.title }}</li>

      <a href="{% url 'post' post.slug %}">{{ post.slug }}</a>
    
      <a>  <img src="{{ post.image.imagefile.url }}"  class="card-img"></a>

    </div>
    <div class="col-4 ">
     

      <li>{{ post.title }}</li>

      <a href="{% url 'post' post.slug %}">{{ post.slug }}</a>
    
      <a>  <img src="{{ post.image.imagefile.url }}"  class="card-img"></a>

    </div>
    <div class="col-4 ">
     

      <li>{{ post.title }}</li>

      <a href="{% url 'post' post.slug %}">{{ post.slug }}</a>
    
      <a>  <img src="{{ post.image.imagefile.url }}"  class="card-img"></a>

    </div>

   

    {% endfor %}
    
  </div>
</div>


</div>

{% endblock %}