{% extends "empty_base.html" %}
{% load view_extra %}
{% load i18n %}

{% block title%} {% trans 'catalogue-page-name' %} {% endblock%}

{% load static %}

{% block content %}

{% csrf_token %}

<div class="content grid grid-catalogue">

  <aside>
    <button class="filtersheader-btn btn btn-secondary btn-tree"><span>{% trans 'filters'|title %}</span><svg class="icon icon-l"><use xlink:href="{% static 'images/svgdefs.svg#icon-caret-down' %}"/></svg></button>

    <div class="openable">
      <div class="filtersbody">
        <h5>{{ tags.effect.name }}</h5>
        <ul>
           {% for effect in tags.effect.child.all %}
                <li class=" {% if effect in active_tags  %}
                    selected {% endif %}" >
                    <a href="" > {{effect.name}}</a></li>
            {% endfor %}
        </ul>
        <h5>{{ tags.style.name }}</h5>
        <ul>
           {% for style in tags.style.child.all %}
                <li class=" {% if style in active_tags  %}
                    selected {% endif %}" >
                    <a href="" > {{style.name}}</a></li>
            {% endfor %}
        </ul>
        <h5>{{ tags.colour.name }}</h5>
        <ul class="colorswatches">
          {% for colour in tags.colour.child.all %}
            <li class="{% if colour in active_tags  %}selected{% endif %}" >
            <a href="{{colour.slug}}"><div style="background-color:#{{colour.summary}}"></div></a>
            </li>
          {% endfor %}
        </ul>

        <h5>{{ tags.setting.name }}</h5>
        <ul>
          {% for setting in tags.setting.child.all %}
              <li class="{% if setting in active_tags  %} selected {% endif %}" >
                  <a href="" > {{setting.name}}</a></li>
          {% endfor %}
        </ul>

        <h5>{{ tags.format.name }}</h5>
        
        <ul>

        {% for format in tags.format.child.all %}
          <li><a href="">{{format.name}}</a>
            <button class="btn btn-tree"><svg class="icon icon-m">
              <use xlink:href="{% static 'images/svgdefs.svg#icon-caret-down' %}"/></svg></button>
            <ul class="openable" style="--tree-height:4.5rem">
            {% for more_format in format.child.all %}
              <li class=" {% if more_format in active_tags  %} selected {% endif %}" >
                  <a href="">{{more_format.name}}</a></li>
            {% endfor %}
            </ul>
          </li>
        {% endfor %}

        </ul>

        <div class="checkbox">
          <input type="checkbox" id="filter-sampleable" {% if tags.samplable.slug in active_tags%} checked {% endif %}>
          <label for="filter-sampleable">{{tags.samplable.name}} </label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="filter-handmade" {% if tags.handmade.slug in active_tags%} checked {% endif %}>
          <label for="filter-handmade">{{tags.handmade.name}}</label>
        </div>
        <h5>{{ tags.serie.name }}</h5>
        <select name="" id="">
          <option value="">Tutte</option>
            {% for serie in tags.serie.child.all %}
                <option value="{{serie.slug}}"
                {% if serie in active_tags  %}
                   selected
                {% endif %}  >{{serie.name}}</option>
            {% endfor %}

        </select>
      </div>
    </div>

  </aside>

  <section>

    <div class="catalogue-filters">
      {% for tag in active_tags %}
      
        <span class="tag tag-removable">{{tag}}<button class="btn" onClick="Javascript:toggleFilter('{{ tag.slug }}')" ><svg class="icon icon-l"><use xlink:href="{% static 'images/svgdefs.svg#icon-remove' %}"/></svg></button></span>
      
      {% endfor %}
      </div>
    <h1>{% trans 'all-products' %}</h1>
    <div class="catalogue-data">
      <div class="catalogue-data-num">
        <strong>{{products|length }}</strong> {% trans 'products' %}
      </div>
      <div class="catalogue-data-sorting">
        <span>{% trans 'order-for' %}:</span>
        <input type="radio" name="sortorder" id="sortorder-trending" checked><label for="sortorder-trending">Trending</label>
        <input type="radio" name="sortorder" id="sortorder-new"><label for="sortorder-new">Novità</label>
        <input type="radio" name="sortorder" id="sortorder-price"><label for="sortorder-price">Prezzo</label>
      </div>
    </div>

    <div class="grid grid-catalogue-products" id="grid-catalogue-products">

    {% for product in products %}

    {% endfor %}

    </div>

  </section>

</div>

{% if page_obj.has_next %}
<a class="infinite-more-link" href="{% url 'catalogue' %}?page={{page_obj.next_page_number}}" ></a>
{% endif %}
<div class="d-flex justify-content-center" style="display:none;">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<script>
var infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0],
    handler: function(direction) {
},
offset: 'bottom-in-view',

onBeforePageLoad: function () {
$('.spinner-border').show();
},
onAfterPageLoad: function () {
$('.spinner-border').hide();
}

});    

function addToSampler( pId ) {
    $.ajax({
        type: "POST",
        // TODO: make this url dynamic
        url: "/it/add_sample/" + pId,
        data: {
            csrfmiddlewaretoken: $( 'input[name="csrfmiddlewaretoken"]' ).val()
        },
        success: function(result) {
            console.log('ok');
            // TODO:
            // - update sampler
            // - show notification
            // - change "add to sample" icon
            // - change "add to sample" action to "removeFromSampler"
        },
        error: function(result) {
            console.log('error');
        }
    });
}


function removeFromSampler( pId ) {
    $.ajax({
        type: "POST",
        // TODO: make this url dynamic
        url: "/it/del_sample/" + pId,
        data: {
            csrfmiddlewaretoken: $( 'input[name="csrfmiddlewaretoken"]' ).val()
        },
        success: function(result) {
            console.log('ok');
            // TODO:
            // - update sampler: show empty slot and update main sampler button
            // - update "add to sampler" button if product is listed or product detail page is open
        },
        error: function(result) {
            console.log('error');
        }
    });
}

function toggleFilter( tagSlug ) {
  
    $.ajax({
        type: "POST",
        url: "{% url 'toggle_filter' %}",
        data: {
            csrfmiddlewaretoken: $( 'input[name="csrfmiddlewaretoken"]' ).val(),
            url_data : '{{url_data}}', 
            toggleFilter : tagSlug
        },
        success: function(result) {
            console.log('ok');
            console.log(result)
            window.history.pushState("object or string", "Title", "catalogue/?filters={{url_data}}");
            const parent = document.getElementById("grid-catalogue-products")
            while (parent.firstChild) {
                parent.firstChild.remove()
            }



            // TODO:
            // - update sampler: show empty slot and update main sampler button
            // - update "add to sampler" button if product is listed or product detail page is open
        },
        error: function(result) {
            console.log('error');
        }
    });
}


</script>




{% endblock %}

