
{% load view_extra %}
{% load i18n %}
{% load static %}

{% csrf_token %}

<div class="content grid grid-catalogue">

  <aside>
    <button class="filtersheader-btn btn btn-secondary btn-tree"><span>{% trans 'filters'|title %}</span><svg class="icon icon-l"><use xlink:href="{% static 'images/svgdefs.svg#icon-caret-down' %}"/></svg></button>

    <div class="openable">
      <div class="filtersbody">
        <h5>{{ tags.effect.name }}</h5>
        <ul>
           {% for effect in tags.effect.all_catalogue_childs %}
            {% if effect.data_type == 't' %}
                <li class=" {% if effect in active_tags  %}
                    selected {% endif %}"  onClick="Javascript:toggleFilter('{{ effect.slug }}')" >
                    <a > {{effect.name}}</a></li>
              {% endif %}
            {% endfor %}
        </ul>
        <h5>{{ tags.style.name }}</h5>
        <ul>
           {% for style in tags.style.all_catalogue_childs %}
                <li class=" {% if style in active_tags  %} selected {% endif %}" onClick="Javascript:toggleFilter('{{ style.slug }}')">
                    <a > {{style.name}}</a></li>
            {% endfor %}
        </ul>
        <h5>{{ tags.colour.name }}</h5>
        <ul class="colorswatches">
          {% for colour in tags.colour.all_catalogue_childs %}
            <li class="{% if colour in active_tags  %}selected{% endif %}" onClick="Javascript:toggleFilter('{{ colour.slug }}')"  >
            <a ><div style="background-color:#{{colour.summary}}"></div></a>
            </li>
          {% endfor %}
        </ul>

        <h5>{{ tags.setting.name }}</h5>
        <ul>
          {% for setting in tags.setting.all_catalogue_childs %}
              <li class="{% if setting in active_tags  %} selected {% endif %}" onClick="Javascript:toggleFilter('{{ setting.slug }}')" >
                  <a  > {{setting.name}}</a></li>
          {% endfor %}
        </ul>

        <h5>{{ tags.format.name }}</h5>
        
        <ul>

        {% for format in tags.format.child.all %}
          <li class="{% if format in active_tags  %} selected {% endif %}" ><a onClick="Javascript:toggleFilter('{{ format.slug }}')">{{format.name}}</a>
            <button class="btn btn-tree" 
            {% if format in active_tags  %}btn-tree-open{% endif %}> 
            <svg class="icon icon-m">
            <use xlink:href="{% static 'images/svgdefs.svg#icon-caret-down' %}"/></svg></button>
            <ul class="openable" style="--tree-height:4.5rem">
            {% for more_format in format.child.all %}
              <li class=" {% if more_format in active_tags  %} selected {% endif %}" onClick="Javascript:toggleFilter('{{ more_format.slug }}')" >
                  <a >{{more_format.name}}</a></li>
            {% endfor %}
            </ul>
          </li>
        {% endfor %}

        </ul>
        

            
        <div class="checkbox">
          <input type="checkbox" id="filter-sampleable" {% if tags.samplable in active_tags %} checked {% endif %} onClick="Javascript:toggleFilter('{{ tags.samplable.slug }}')">
          <label for="filter-sampleable">{{tags.samplable.name}} </label>
        </div>

        {% for effect in tags.effect.all_catalogue_childs %}
          {% if effect.data_type == 'b' %}

              <div class="checkbox">
                <input type="checkbox" id="filter-handmade" {% if effect in active_tags %} checked {% endif %} 
                                      onClick="Javascript:toggleFilter('{{ effect.slug }}')">
                <label for="filter-handmade">{{effect.name}}</label>
              </div>
              
            {% endif %}
          {% endfor %}
          
        <h5>{{ tags.serie.name }}</h5>
        <select name="series-select" id="series-select" >
          <option value="all-series">{% trans 'all-series' %}</option>
            {% for serie in tags.serie.child.all %}
                <option value="{{serie.slug}}" 
                {% if serie in active_tags  %}
                   selected
                {% endif %}  >{{serie.name}}</option>
            {% endfor %}

        </select>
      </div>
    </div>

  </aside>

  <section>

    <div class="catalogue-filters">
      {% for tag in active_tags %}
      
        <span class="tag tag-removable" onClick="Javascript:toggleFilter('{{ tag.slug }}')">{{tag}}<button class="btn"  ><svg class="icon icon-l"><use xlink:href="{% static 'images/svgdefs.svg#icon-remove' %}"/></svg></button></span>
      
      {% endfor %}
      </div>
    <h1>{% trans 'all-products' %}</h1>
    <div class="catalogue-data">
      <div class="catalogue-data-num">
        <strong>{{products|length }}</strong> {% trans 'products' %}
      </div>
      <!-- <div class="catalogue-data-sorting">
        <span>{% trans 'order-for' %}:</span>
        <input type="radio" name="sortorder" id="sortorder-trending" checked><label for="sortorder-trending">Trending</label>
        <input type="radio" name="sortorder" id="sortorder-new"><label for="sortorder-new">Novità</label>
        <input type="radio" name="sortorder" id="sortorder-price"><label for="sortorder-price">Prezzo</label>
      </div> -->
    </div>

    <div class="grid grid-catalogue-products infinite-container" id="grid-catalogue-products">
      {% for product in products %}
        {% include 'productthumb.html' %}
      {% endfor %}

    </div>

  </section>

</div>

<input type="hidden" id="hidden_url_data" value="{{url_data}}"> 

<!-- {% if page_obj.has_next %}
<a class="infinite-more-link" href="{% url 'catalogue' %}?page={{page_obj.next_page_number}}&filter={{url_data}}" ></a>
{% endif %}
<div class="d-flex justify-content-center" style="display:none;">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script> -->


<script>
  

$( "#series-select" ).on('focusin', function(){
    $(this).data('val', $(this).val());
});

$( "#series-select" ).on('change', function(){
    
    var prev = $(this).data('val');
    var current = $(this).val();
    if(current == "all-series")
        toggleFilter(prev);
    else{
      var hv = $('#hidden_url_data').val();
      var hv_array = hv.split(" ");
      hv_array = jQuery.grep(hv_array, function(value) {
        return value != prev;
      });

      $('#hidden_url_data').val(hv_array.join("_"));
      toggleFilter(current);
    } 
  
});

</script>