{% extends "empty_base.html" %}
{% load view_extra %}
{% load i18n %}

{% block title%} {% trans 'catalogue-page-name'|title %} {% endblock%}

{% load static %}

{% block content %}

{% include 'cataloguegrid.html' %}


<script>
    
function toggleFilter( tagSlug ) {
    $.ajax({
      
        type: "POST",
        url: "{% url 'catalogue' %}",
        data: {
            csrfmiddlewaretoken: $( 'input[name="csrfmiddlewaretoken"]' ).val(),
            url_data : $( 'input[id="hidden_url_data"]' ).val(), 
            toggleFilter : tagSlug
        },
        success: function(result) {
            $("#content").html(result);
            // parse the query string into an object 
        },
        error: function(result) {
            console.log('error');
        }
    });
}


function addToSampler( pId ) {

    $.ajax({
        type: "POST",
        url: "{% url 'ajax_add_sample' %}",
        
        data: {
            csrfmiddlewaretoken: $( 'input[name="csrfmiddlewaretoken"]' ).val(),
            product_code : pId
        },
        success: function(result) {
            console.log('ok');
            $("#overlaySamples").html(result);
            $("#overlaySamples").addClass('visible');
            $("#button-prod-thumb-"+pId).attr('xlink:href',"{% static 'images/svgdefs.svg#icon-samples-remove' %}");        
            $("#btn-prod-thumb-"+pId).attr("onclick","Javascript:removeFromSampler('"+pId+"')");
            
            // update sampler icon to correct number
        },
        error: function(result) {
            console.log('error');
        }
    });
}


function removeFromSampler( pId ) {
    $.ajax({
        type: "POST",
        
        url: "{% url 'ajax_del_sample' %}",
        data: {
            csrfmiddlewaretoken: $( 'input[name="csrfmiddlewaretoken"]' ).val(),
            product_code : pId
        },
        success: function(result) {

            $("#overlaySamples").html(result);
            $("#overlaySamples").addClass('visible');       
            $("#button-prod-thumb-"+pId).attr('xlink:href',"{% static 'images/svgdefs.svg#icon-samples-add' %}");        
            $("#btn-prod-thumb-"+pId).attr("onclick","Javascript:addToSampler('"+pId+"')");
            // update sampler icon to correct number
        },
        error: function(result) {
            console.log('error');
            $("#overlaySamples").addClass('visible');
        }
    });
}

</script>
{% endblock %}

