{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container">

<h2> COLLECTION</h2>

<h4>{{ collection.publication.title }}</h4>
  
{% for image in collection.images.all %}  
  <img src="{{ image.imagefile.url }}" >  
{% endfor %}

<p>{{ collection.publication.content }}</p>


{% for product in collection.products.all %}
	<a href="{% url 'product' product.publication.slug %}"> 
		<li>{{ product.publication.title }}</li>
	</a>

    {% for image in product.images.all %}  
	  <img width="200px" style="object-fit: contain;" 
	  	src="{{ image.imagefile.url }}" >  
	{% endfor %}

{% endfor %}


</div>

{% endblock %}