{% extends "base.html" %}
{% load view_extra %}

{% load static %}

{% block title%} Collection |  {{ collection.publication.title }} {% endblock%}


{% block content %}


<!--===================================
=            Store Section            =
====================================-->
<section class="section bg-gray">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<!-- Left sidebar -->
			<div class="col-md-8">
				<div class="product-details">
					<h1 class="product-title">{{ collection.publication.title }}</h1>
					<div class="product-meta">
						<ul class="list-inline">
							<li class="list-inline-item"><i class="fa fa-user-o"></i> By <a href="">Andrew</a></li>
							<li class="list-inline-item"><i class="fa fa-folder-open-o"></i> Category
								{% for tag in collection.publication.tag.all%}
										<a href="{% url 'collections' tag.slug %}">{{tag.name}}</a>
								{% endfor %}

							</li>
							<li class="list-inline-item"><i class="fa fa-location-arrow"></i> Formats

								{% for format in collection.formats.all %}
									<!-- mettere link per filtrare sulla collezione in base al formato -->
									<a href="">{{format.title}}</a>
								{% endfor %}
							</li>
						</ul>
					</div>

					<!-- product slider -->
					<div class="product-slider">

						{% for image in collection.images.all %}  
						<!-- PUT THE THUMBNAIL HERE in data-image -->
						  <div class="product-slider-item my-4" data-image="images/products/products-1.jpg">
							<img class="img-fluid w-100" src="{{ image.imagefile.url }}" alt="product-img">
						</div> 
						{% endfor %}

					</div>
					<!-- product slider -->

					<div class="content mt-5 pt-5">
						<ul class="nav nav-pills  justify-content-center" id="pills-tab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
								 aria-selected="true">{{ collection.publication.title }}: dettagli</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
								 aria-selected="false">Specifications</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact"
								 aria-selected="false">Reviews</a>
							</li>
						</ul>
						<div class="tab-content" id="pills-tabContent">
							<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
								<h3 class="tab-title">Collection Description</h3>
								<p>{{ collection.publication.content }} </p>

							</div>

								<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
								<h3 class="tab-title">Specifiche tecniche</h3>
								<table class="table table-bordered product-table">
									<tbody>
										<tr>
											<td>Seller Price</td>
											<td>$450</td>
										</tr>
										<tr>
											<td>Added</td>
											<td>26th December</td>
										</tr>
										<tr>
											<td>State</td>
											<td>Dhaka</td>
										</tr>
										<tr>
											<td>Brand</td>
											<td>Apple</td>
										</tr>
										<tr>
											<td>Condition</td>
											<td>Used</td>
										</tr>
										<tr>
											<td>Model</td>
											<td>2017</td>
										</tr>
										<tr>
											<td>State</td>
											<td>Dhaka</td>
										</tr>
										<tr>
											<td>Battery Life</td>
											<td>23</td>
										</tr>
									</tbody>
								</table>
							</div>


						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">


				<h3 class="product-title">Products in this collection</h3>
				<div class="row">
					<!-- limitare a 3 ed ordinare per interesse -->
					{% for product in collection.products.all %}
						<div class="col-sm-12 col-lg-12"> {% product_small product%}</div>
					{% endfor %}
				</div>
			</div>

		</div>

		<div class="row">
			<div class="col-lg-12">
				
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>

{% endblock %}