{% extends "empty_base.html" %}
{% load i18n %}
{% load view_extra %}

{% block title%}  {% endblock%}

{% load static %}

{% block content %}


<div class="block block-coldbg accounttitle">
  <div class="content">
    <div class="accounttitle-actions">
    <h1>{{publication.title}}</h1>
  </div>
</div>
</div>

<div class="content grid grid-account">
	<div class="formrow">
		<p>
		{% autoescape off %}
			{{ publication.content }}
		{% endautoescape %}                
			{{message}}
		</p>
	</div>
</div>


{% endblock %}

