{% extends "empty_base.html" %}
{% load view_extra %}
{% load i18n %}
{% load static %}

{% block title%} {% trans 'home-page-name' %} {% endblock%}
{% block description-meta-tag %} {% trans 'home-description-meta-tag' %} {% endblock %}
{% block keywords-meta-tag %} {% trans 'home-keywords-meta-tag' %} {% endblock %}

{% block content %}


<div class="cover cover-home" style="background-image: url('{{ layout_elems|get_elem:'cover-img' }}')">
  <div class="content">
    <div class="cover-title">
      <div class="bgtxt"><h1><a href="{% url 'catalogue' %}?filters=trending" ><span>{{ layout_elems|get_elem:'cover-claim' }}</span></a></h1></div>
    </div>
  </div>
  <div class="cover-home-links">
    <div class="content">
      <ul>

      {% for tag in tags|filter_tags:'effect' %}
        {% with y=forloop.counter|stringformat:"s" %}
          {% with img_name="square-effect-"|add:y %}
              <li style="background-image: url('{{ layout_elems|get_elem:img_name }}')">
                <a href="{% url 'catalogue' %}?filters={{tag.slug}}" class="btn-gridbox">{{tag}}</a>
            </li>
          {% endwith %}
        {% endwith %}
      {% endfor %}

      </ul>
    </div>
  </div>
</div>

<div class="block">
  <div class="content grid grid-homeintro">
    <a href="{% url 'catalogue' %}" class="btn-gridbox">
    	<h3>{% blocktrans %}choose-home-claim{% endblocktrans %}</h3></a>
    <div>
      <video width="100%" autoplay loop>
        <source src="{% static 'images/home/taleoftiles_book_tiles_gift.mp4' %}" type="video/mp4">
 
      <img  style="width: 100%;" src="{% static 'images/home/taleoftiles_book_tiles_gift.gif' %}" alt="TaleofTiles Book">

      </video>
    </div>

      <!-- &showinfo=0&
      &disablekb=1&controls=0
      <iframe width="200" height="200" src="https://www.youtube.com/embed/YlE0cMrkOFg?autoplay=1&playlist=YlE0cMrkOFg&loop=1&modestbranding=1"  frameborder="0" ></iframe> -->

    <div class="grid-homeintro-main">
      <h2>{% trans 'sample-touchhand'|capfirst %}</h2>
      <h3>{{ layout_elems|get_elem:'strength-campionario-up' }}</h3>
      <p>{% trans 'sample-description'|capfirst %}</p>
      <svg class="icon"><use xlink:href="{% static 'images/svgdefs.svg#icon-sample-help' %}"/></svg>
    </div>
    <div>{% blocktrans %} Ricevi mattonelle a casa {% endblocktrans %}</div>

    <h3>{{ layout_elems|get_elem:'strength-pt-2'}}</h3>
  </div>
</div>


{% if home_prods|length == 8 %}
 <div class="block">
  <div class="content grid grid-homeintro">
 {% for product in home_prods %}
    
    <div>
    
      <img  style="width: 100%;" src="{% if  product.cover.imagefile %}  {{ product.cover.imagefile.url }} {% endif %}" alt=" {{ product.name }} / {{ product.serie.name }}">

    </div>
{% endfor %}
  </div>
</div>
<!-- 
<div class="block block-lightbg ">
  <div class="content grid grid-homesupport">
    {% for product in home_prods %}
        <a href="{% url 'product' product.code %}" class="faqquestion-thumb product-thumb-home" >
          <img  src="{% if  product.cover.imagefile %}  {{ product.cover.imagefile.url }} {% endif %}" alt=" {{ product.name }} / {{ product.serie.name }}">
          <div class="product-thumb-overlay">
            <h5>{{ product.serie.name }}</h5>
            <h3>{{ product.name }}</h3>
          </div>
        </a>

    {% endfor %}
  </div>
</div>  -->
{% endif %}

<div class="block block-warmbg block-fullheight">
  <div class="content grid grid-homeblog">

    <a href="{% url 'post' main_post.publication.slug %}" class="blogpost-thumb blogpost-thumb-large btn-gridbox" style="background-image:url('{{main_post.cover.imagefile.url}}')">
    <div class="bgtxt">
      <h3><span>{{main_post.publication.title |title}}</span></h3></div>
    </a>
    <a href="{% url 'post' secondary_post.publication.slug %}" class="blogpost-thumb btn-gridbox">
      <h3>{{secondary_post.publication.title |title}}</h3>
      <div class="blogpost-thumb-img" style="background-image:url('{{secondary_post.cover.imagefile.url}}')"></div>
    </a>
    <a href="{% url 'blog'%}" class="grid-homeblog-about btn-gridbox">
      <h2>{% trans 'title-renovate-home' %}</h2>
      <p class="large">{% trans 'subtitle-renovate-home' %} </p>
    </a>
  </div>
</div>

<div class="block block-coldbg block-fullheight">
  <div class="content grid grid-homesupport">
    <div class="grid-homesupport-main">
      <h2>{% trans 'title-faq-home' %}</h2>
    </div>

    <a href="{% url 'support'%}" class="faqquestion-thumb btn-gridbox">
	  <h3>{% trans 'faq-1'|capfirst %}</h3>
	  <span>{% trans 'read-answer' %}</span>
	  </a>

    <a href="{% url 'support'%}" class="faqquestion-thumb btn-gridbox">
    <h3>{% trans 'faq-2'|capfirst %}</h3>
    <span>{% trans 'read-answer' %}</span>
    </a>

    <a href="{% url 'support'%}" class="faqquestion-thumb btn-gridbox">
      <h3>{% trans 'faq-3'|capfirst %}</h3>
    <span>{% trans 'read-answer' %}</span>
    </a>

    <a href="{% url 'support'%}" class="faqquestion-thumb btn-gridbox">
      <h3>{% trans 'faq-4'|capfirst %}</h3>
    <span>{% trans 'read-answer' %}</span>
    </a>
    <a href="{% url 'support'%}" class="faqquestion-thumb btn-gridbox">
      <h3>{% trans 'faq-5'|capfirst %}</h3>
    <span>{% trans 'read-answer' %}</span>
    </a>
    <a href="{% url 'support'%}" class="faqquestion-thumb btn-gridbox">
      <h3>{% trans 'faq-6'|capfirst %}</h3>
    <span>{% trans 'read-answer' %}</span>
    </a>

  </div>
</div>

<div class="block block-warmbg block-fullheight">
  <div class="content grid grid-homeabout">

    <div class="grid-homeabout-main">
      <h2>{% trans 'founder-name' %}</h2>
        <p><em>{{ layout_elems|get_elem:'home-founder-description' }}</em></p>
        <p>{{ layout_elems|get_elem:'home-founder-text' }}</p>
    </div>

    <div class="grid-homeabout-quote"><blockquote>{{ layout_elems|get_elem:'home-cite-1' }}</blockquote><p class="note">– {{ layout_elems|get_elem:'home-cite-auth-1' }}</p></div>
    <div class="grid-homeabout-quote"><blockquote>{{ layout_elems|get_elem:'home-cite-2' }}</blockquote><p class="note">– {{ layout_elems|get_elem:'home-cite-auth-2' }}</p></div>
    <div class="grid-homeabout-quote"><blockquote>{{ layout_elems|get_elem:'home-cite-3' }}</blockquote><p class="note">– {{ layout_elems|get_elem:'home-cite-auth-3' }}</p></div>
    <div class="grid-homeabout-quote"><blockquote>{{ layout_elems|get_elem:'home-cite-4' }}</blockquote><p class="note">– {{ layout_elems|get_elem:'home-cite-auth-4' }}</p></div>

  </div>
</div>







{% endblock %}

