<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
  <meta name="msapplication-TileColor" content="#3D312F">
  <meta name="theme-color" content="#3D312F">
  <meta name="description" content="">
  <meta name ="keywords" content=""/>

  <meta name="p:domain_verify" content="737fb1b3f054cdb5da5e6fc1ffc900c3"/>
  <title> Tale of Tiles | SuperSconto Carta da Parati di Design </title>
  {% load static %}
  {% load i18n %}
  {% load view_extra %}

  <link rel="apple-touch-icon" sizes="180x180" href="{% static '/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static '/site.webmanifest' %}">

<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">

  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{% static 'js/jquery.waypoints.min.js' %}" ></script>
  <script src="{% static 'js/infinite.min.js' %}" ></script>

  <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link type="text/css" href="{% static 'style/style.css' %}" rel="stylesheet">
  <link type="text/css" href="{% static 'style/custom.css' %}" rel="stylesheet">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RNCL203KP2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RNCL203KP2');
</script>

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '670293193633500');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=670293193633500&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->


<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-178049116-1');
</script>

<!-- Mailchimp -->
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/60bd7522754a462d36b313b1c/571fb0c4ec9c9a234bf902705.js");</script>
<!-- END Mailchimp -->
  
</head>

<body>

<style type="text/css">
  
.grid-subscribe {
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr;
}

.btn-primary{
  border: none;
  text-align: center;
  border-radius: 4px;
}

.cover-title {
    max-width: 100%;
}
.cover-home .cover-title .bgtxt {
    max-width: 100%; 
    text-align: center;
}

.grid-landing {
    display: grid;
    column-gap: 0%;
    row-gap: 0%;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

}
.block-fullheight{
    min-height: 50vh;
}

.grid-homestrength{

    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows:  1fr 1fr ;
}

.grid-preventivo{

    grid-template-columns: 1fr  ;
    grid-template-rows:  1fr  ;
}
.grid-homesupport {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.cover-home+.block {
    margin-top: 0;
}

.selected{
  text-decoration: underline;
  text-decoration-color: #CE7358;
  text-decoration-thickness:  8px;
}
.light-text{
  font-family: Karla,-apple-system,BlinkMacSystemFont,"Segoe UI",Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: lighter;
}

#mc_embed_signup .button {
    clear: both;
    background-color: #CE7358;
    width: 100%;
}
</style>

<script type="text/javascript">
  

  function scrollToProduct(){
    var element = document.getElementById("products");
    element.scrollIntoView({behavior: "smooth"});
  }

  function scrollToPuntiForza(){
    var element = document.getElementById("puntiforza");
    element.scrollIntoView({behavior: "smooth"});
  }

  function scrollToPreventivo(){
    var element = document.getElementById("preventivo");
    element.scrollIntoView({behavior: "smooth"});
  }
</script>

<header>

  <nav class="nav-secondary"><ul></ul></nav>
  <nav class="nav-primary">

    <div><a href=""><img src="{% static 'images/tot-logo-compact.svg' %}" class="logo-compact" alt="Tale of Tiles"></a></div>
    <ul>
    </ul>
    <div class="header-btns nav-primary">
      <ul>
        <li class=""><a  onclick="scrollToProduct();"><span> Prodotti</span></a></li>
      </ul>
      <ul>
        <li class=""><a onclick="scrollToPuntiForza();"><span> Punti di Forza</span></a></li>
      </ul>
      <ul>
        <li class=""><a onclick="scrollToPreventivo();"><span> <button class="btn-primary">Richiedi Preventivo</button></span></a></li>
      </ul>
    </div>


<div class="nav-mobile overlay" id="overlayMenu">

  <div class="overlay-title">
    <button class="btn"><svg class="icon icon-l"><use xlink:href="{% static 'images/svgdefs.svg#icon-overlay-close' %}"/></svg></button>
  </div>

  <nav>
    <ul>
      <li class="settingsmenu"></li>
      <li class="settingsmenu"></li>
    </ul>
  </nav>

  <ul class="nav-mobile-social">
  </ul>

</div>

<div class="notification"></div>

  </nav>

  <div class="logo">
    <a href="{% url 'index' %}"><img src="{% static 'images/tot-logo-no-background.svg' %}" alt="Tale of Tiles"></a>
  </div>

</header>

<div id="content">

<div class="cover cover-home" style="
 background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), 
 url('https://taleoftiles.s3.amazonaws.com/photos/styleditions_carta_da_parati_artdeco_ambientata-11920x134857.jpg')">
  <div class="content">
    <div class="cover-title">
      <div class="bgtxt" style="cursor:pointer;">
        <h1><span>Rinnova i tuoi ambienti con la nostra offerta lancio </span></h1>
        <h2>Grazie alla nostra nuova collezione di carta da parati potrai rinnovare gli ambienti della tua casa.  <br/>
        Moderna, personalizzabile e da oggi accessibile a tutti.<br/>
        Affrettati prima che il prezzo torni alla normalità.<br/><br/>
        SCOPRI 
        </h2>
        <h1 onclick="scrollToProduct();"><span> &#8595; &#8595; &#8595; </span></h1>
      </div>
    </div>
  </div>
</div>


<div class="block" id="products">
 <div class="content grid grid-homesupport">

 <a href="" class="faqquestion-thumb product-thumb-home" >
    <img  style=" " src=" https://taleoftiles.s3.amazonaws.com/photos/Green_Leaves_Amb.jpg">
    <div class="product-thumb-overlay">
      <h5>Green Leaves</h5>
      <h3>Green Leaves</h3>
    </div>
  </a>

  <div>
    <h3 class="selected">Green Leaves</h3><br/>
    <h4 class="light-text">Carta da parati adesiva con le foglie rappresentate. Ecologica, liscia e dalla buona resistenza a strappi e lavaggi.</h4>
  </div>

<!-----      --------    --->

  <div>
    <h3 class="selected">Green Leaves</h3><br/>
    <h4 class="light-text">Carta da parati adesiva con le foglie rappresentate. Ecologica, liscia e dalla buona resistenza a strappi e lavaggi.</h4>
  </div>

 <a href="" class="faqquestion-thumb product-thumb-home" >
    <img  style="zoom: 40%;" src=" https://taleoftiles.s3.amazonaws.com/photos/Green_Leaves_Amb.jpg">
    <div class="product-thumb-overlay">
      <h5>Green Leaves</h5>
      <h3>Green Leaves</h3>
    </div>
  </a>



<!-----      --------    --->

 <a href="" class="faqquestion-thumb product-thumb-home" >
    <img  style="zoom: 40%;" src=" https://taleoftiles.s3.amazonaws.com/photos/Green_Leaves_Amb.jpg">
    <div class="product-thumb-overlay">
      <h5>Green Leaves</h5>
      <h3>Green Leaves</h3>
    </div>
  </a>

  <div>
    <h3 class="selected">Green Leaves</h3><br/>
    <h4 class="light-text">Carta da parati adesiva con le foglie rappresentate. Ecologica, liscia e dalla buona resistenza a strappi e lavaggi.</h4>
  </div>

 <!-----      --------    --->

  <div>
    <h3 class="selected">Green Leaves</h3><br/>
    <h4 class="light-text">Carta da parati adesiva con le foglie rappresentate. Ecologica, liscia e dalla buona resistenza a strappi e lavaggi.</h4>
  </div> 

 <a href="" class="faqquestion-thumb product-thumb-home" >
    <img  style="zoom: 40%;" src=" https://taleoftiles.s3.amazonaws.com/photos/Green_Leaves_Amb.jpg">
    <div class="product-thumb-overlay">
      <h5>Green Leaves</h5>
      <h3>Green Leaves</h3>
    </div>
  </a>




  </div>
</div>

<div class="cover cover-home" style="
 background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
 url('https://taleoftiles.s3.amazonaws.com/photos/styleditions_carta_da_parati_artdeco_ambientata-11920x134857.jpg')">
  <div class="content">
    <div class="cover-title">
      <div class="bgtxt" style="cursor:pointer;">
        <h1><span>        PREZZO LANCIO A 35€ AL M2 *  </span></h1>
        <h2>I modelli qui sopra non sono gli unici presenti:<br/> 
          ti aspettano altre 15 fantasie!
        </h2>
        <button 
        class="btn-primary" style="margin: auto; cursor: pointer;"
        onclick="scrollToPreventivo();"
        >Richiedi Preventivo</button>
        <br/>
        <h4 >* Le spese di trasporto in Italia sono i 40€ indipendentemente dal n°di metri acquistati</h4>


      </div>
    </div>
  </div>
</div>

<div class="block block-coldbg block-fullheight" id="puntiforza">

  <div class="content grid grid-homesupport grid-homestrength">

    <div class="grid-homesupport-main">
      <h2>Perché Acquistare Tale of Tiles</h2><p><em>KKKKKK</em></p>
      <p>ZZZZZZ</p>
    </div>

    <div class="">
      <h2>QQQQ</h2><p><em>KKKKKK</em></p>
      <p>ZZZZZZ</p>
    </div>

    <div class="">
      <h2>QQQQ</h2><p><em>KKKKKK</em></p>
      <p>ZZZZZZ</p>
    </div>


    <div class="">
    </div>

    <div class="">
      <h2>Richiedi Preventivo</h2><p><em>KKKKKK</em></p>
      <p>ZZZZZZ</p>
    </div>

  </div>
</div>


<div class="block block-warmbg block-fullheight">
  <div class="content grid grid-subscribe">

    <div class="grid-homeabout-main">
      <h2>{% trans 'founder-name' %}</h2>
        <p><em>KKKKKK</em></p>
        <p>ZZZZZZ</p>
    </div>

    <div class="grid-homeabout-quote"><blockquote>TTTTTTT</blockquote><p class="note">– <form action="https://taleoftiles.us1.list-manage.com/subscribe/post?u=60bd7522754a462d36b313b1c&amp;id=8be64ef024" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
   <h2>DDDDDD</h2>
    <div id="mc_embed_signup_scroll"  class="formrow formrow-multi">
  
    <div class="mc-field-group formitem">
      <label for="mce-EMAIL"> EEEEEEs</label>
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
    </div>

  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_60bd7522754a462d36b313b1c_8be64ef024" tabindex="-1" value=""></div>
    
    <div class="formitem formitem-short">
      <label > &nbsp; </label>
      <input type="submit" value="⮕" name="subscribe" id="mc-embedded-subscribe" 
      style="background-color: #ab5244; color: black; cursor: pointer;" 
      class="button">
    </div>

    </div>

</form></p></div>



  </div>
</div>


<div class="block block-lightbg block-fullheight" id="preventivo">
  <div class="content grid grid-homeabout grid-preventivo">

    <div >
      <h2 style="text-align: center; "> Richiedi ora la Disponibilità</h2>
      <h4 class="light-text" style="text-align:center;">Affrettati prima che i prodotti finiscano e il prezzo torni alla normalità.
      <br/>
      Compila il form qui sotto con i tuoi dati e scopri la disponibilità della carta desiderata. Ti risponderemo il prima possibile.
      </h4>

      <!-- Begin Mailchimp Signup Form -->


<div id="mc_embed_signup" style="width:60%; margin: 0 20%">
<form action="https://taleoftiles.us1.list-manage.com/subscribe/post?u=60bd7522754a462d36b313b1c&amp;id=8be64ef024" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  
<div class="indicates-required"><span class="asterisk">*</span> campi obbligatori</div>
<div class="mc-field-group">
  <label for="mce-MMERGE2">Nome completo  <span class="asterisk">*</span>
</label>
  <input type="text" value="" name="MMERGE2" class="required" id="mce-MMERGE2">
</div>
<div class="mc-field-group">
  <label for="mce-EMAIL">Email  <span class="asterisk">*</span>
</label>
  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group ">
  <label for="mce-MMERGE1">Telefono  <span class="asterisk">*</span>
</label>
  <input type="text" name="MMERGE1" class="required" value="" id="mce-MMERGE1">
</div>
<div class="mc-field-group">
  <label for="mce-MMERGE3">Prodotto  <span class="asterisk">*</span>
</label>
  <select name="MMERGE3" class="required" id="mce-MMERGE3">
  <option value=""></option>
  <option value="Green Leaves">Green Leaves</option>
<option value="Blue Flowers">Blue Flowers</option>
<option value="Vintage Flowers">Vintage Flowers</option>
<option value="Water Ibisco">Water Ibisco</option>

  </select>
</div>
<div class="mc-field-group">
  <label for="mce-MMERGE4">Dimensioni  <span class="asterisk">*</span>
</label>
  <input type="text" value="" name="MMERGE4" class="required" id="mce-MMERGE4">
</div>
  <div id="mce-responses" class="clear foot">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_60bd7522754a462d36b313b1c_8be64ef024" tabindex="-1" value=""></div>
        <div class="optionalParent">
            <div class="clear foot" style="grid-template-columns: 3fr ;">
                <input type="submit" value="Richiedi Disponibilità" name="subscribe" id="mc-embedded-subscribe" class="button btn-primary">
                
            </div>
        </div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[2]='MMERGE2';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='MMERGE1';ftypes[1]='phone';fnames[3]='MMERGE3';ftypes[3]='dropdown';fnames[4]='MMERGE4';ftypes[4]='text'; /*
 * Translated default messages for the $ validation plugin.
 * Locale: IT
 */
$.extend($.validator.messages, {
       required: "Campo obbligatorio.",
       remote: "Controlla questo campo.",
       email: "Inserisci un indirizzo email valido.",
       url: "Inserisci un indirizzo web valido.",
       date: "Inserisci una data valida.",
       dateISO: "Inserisci una data valida (ISO).",
       number: "Inserisci un numero valido.",
       digits: "Inserisci solo numeri.",
       creditcard: "Inserisci un numero di carta di credito valido.",
       equalTo: "Il valore non corrisponde.",
       accept: "Inserisci un valore con un&apos;estensione valida.",
       maxlength: $.validator.format("Non inserire pi&ugrave; di {0} caratteri."),
       minlength: $.validator.format("Inserisci almeno {0} caratteri."),
       rangelength: $.validator.format("Inserisci un valore compreso tra {0} e {1} caratteri."),
       range: $.validator.format("Inserisci un valore compreso tra {0} e {1}."),
       max: $.validator.format("Inserisci un valore minore o uguale a {0}."),
       min: $.validator.format("Inserisci un valore maggiore o uguale a {0}.")
});}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->

    </div>

    <div class="grid-homeabout-quote"><blockquote>TTTTTTT</blockquote><p class="note">– WWWWW</p></div>
  </div>
</div>

</div>


<footer>
  <div class="content grid grid4">
    <div>
      <p><strong>Tale of Tiles s.r.l.</strong><br>Via dei Gradini, 54<br>02043 Forano<br>Rieti<br>P.IVA 01211350572</p>

      <a href="{% url 'privacypolicy' %}"  class="btn-link btn-link-arrow"> {% trans 'privacy-policy'|title %}</a>
      <a href="{% url 'termsandconds' %} " class="btn-link btn-link-arrow"> {% trans 'termini-e-condizioni'|title %}</a>

    </div>


    {% for elem in footer_elems %}
        <ul class="  linkslist ">
          {% for foot_elem in elem.element.all %}
            <li><a href="">{{foot_elem.content}} </a></li>
          {% endfor %}
        </ul>
    {% endfor %}
    
      <img src="{% static 'images/tot-logo-mono-dark.svg' %}" class="logo-footer" alt="Tale of Tiles">
    </div>
   </div>
</footer>

  <script src="{% static 'js/scripts.js' %}"></script>

</body>
</html>


