{% extends "empty_base.html" %}
{% load i18n %}

{% load view_extra %}

{% block title%} {% trans 'order-page-name' %} {% endblock%}

{% load static %}

{% block content %}


{% with order_id=order.internal_tracking_id %}



{% endwith %}

<div class="content grid grid-accountorder-detail">

  <div>

    <div class="checkout-title">
      <a href="{% url 'account' %}" class="btn-link">
        <svg class="icon-l icon"><use xlink:href="{% static 'images/svgdefs.svg#icon-arrow-left' %}"/></svg>{% trans 'back-to-orders' %}</a>
      <h1>{% trans 'order'|title %} {{order.internal_tracking_id}} </h1>
    </div>

<div class="cartrecap">
 

{% if order.is_sampler %}
	{% for sampler in order.sampler.all %} 
  

		<div class="cartreacap-header"><h5></h5><h5 >{% trans 'price' %}</h5></div>

		<div class="cartrecap-item">
			{% for sample in sampler.all_samples %}	
				<div class="cartrecap-thumb"  style="background-image:url('{{sample.product.cover.imagefile.url}}')">
					{{sample.product.name}}
				</div>
			{% endfor %}		

			<div class="cartrecap-main">
			  <h5></h5>
			  <h4>{% trans 'summary-sample-title' %}</h4>
			  <p>{% trans 'summary-sample-subtitle' %}</p>
			</div>
			<div class="cartrecap-price">
			  <span class="product-figure"  
			  {% if sampler.total_price <= 0 %}
			   style="text-decoration: line-through;"
			   {% endif %} >€ 25</span>
			</div>
		</div>

  
  

	{% endfor %} 
{% else %} 

{% for chart in order.charts.all %}
      <div class="cartreacap-header">
        <h5>{% trans 'quantity'|title %}</h5>
        <h5>{% trans 'price'|title %}</h5>
      </div>

	{% for chart_item in chart.chart_item.all %}
     

	
      <div class="cartrecap-item">
        <div class="cartrecap-thumb" style="background-image:url('{{chart_item.product.cover.imagefile.url}}')"></div>
        <div class="cartrecap-main">
          <h5>{{chart_item.product.serie}}</h5>
          <h4>{{chart_item.product.name}}</h4>
          <p>{{chart_item.size}} / {{chart_item.finish}} / {{chart_item.product.colour}}</p>
        </div>
        <div class="cartrecap-qty">
          <p class="note">{{chart_item.boxes}} {% trans 'boxes'%}</p>
          <div class="input-qty">
            <span class="product-figure">{{chart_item.quantity}}</span>
            <div class="product-qtybtns">
              <span class="product-note">m&sup2;</span>
            </div>
          </div>
        </div>
        <div class="cartrecap-price">
          <span class="product-figure">€ {{chart_item.price}}</span>
        </div>
      </div>
	{% endfor %}
	{% endfor %} 

{% endif %}
     

      <div class="cartrecap-item cartrecap-total">
        <div class="cartrecap-main">
          <h4>{% trans 'order-total' %}</h4>
        </div>
        <div class="cartrecap-price">
          <span class="product-figure">€ {{order.total}}</span>
        </div>
      </div>

    </div>

  </div>

  <aside>
    <div class="asidebox">
      <h5>{% trans 'create-at' %}</h5>
      <p class="note"><span class="hilite">{{order.created_at}}</span></p>

      <h5>{% trans 'shipping-date' %}</h5>
      <p class="note"><span class="hilite">{{order.shipping_date}}</span></p>
      <h5>{% trans 'shipping-address' %}</h5>
      <p class="note">{{order.user.profile.shipping.fullname}}</p>
      <p class="note">{{order.user.profile.shipping.shipping_address}}</p>
      <p class="note">{{order.user.profile.shipping.city}}</p>
      <p class="note">{{order.user.profile.shipping.CAP}} - {{order.user.profile.shipping.get_country_display}}</p>
      

      <h5>{% trans 'order-status' %}</h5>
      <p class="note"><span class="hilite">{{order.get_order_status_display}}</span></p>
      <h5>{% trans 'order-tracking' %}</h5>
      <p class="note"><span class="hilite">{{order.shipping_tracking_id}}</span></p>




    </div>
    
      <div class="checkout-title">
        <a href="{% url 'payment' order.internal_tracking_id %}" class="btn btn-primary">
          <svg class="icon-l icon"><use xlink:href="{% static 'images/svgdefs.svg#icon-arrow-left' %}"/></svg>Paga Ora</a>
      </div>
  </aside>

</div>

<script>
// DEMO ONLY
document.querySelector( '.nav-primary > ul > li:first-child' ).classList.add( 'selected' );
</script>

{% endblock %}
