
{% load view_extra %}
{% load i18n %}
{% load static %}


{% for product in products %}

<div class="product-thumb infinite-item">
    <a href="{% url 'product' product.code %}" class="product-thumb-img">
        <img  src="{{ product.cover.imagefile.url }}" alt="{{ product.name }} / {{ product.serie.name }}">
    </a>
    <a href="{% url 'product' product.code %}" class="product-thumb-title">
        <h5>{{ product.serie.name }}</h5>
        <h4>{{ product.name }}</h4>
    </a>

    {% if sampler|is_in_sample:product.code %}
        <button class="btn btn-overlay" onClick="Javascript:removeFromSampler('{{ product.code }}')"><svg class="icon-l icon">
        <use xlink:href="{% static 'images/svgdefs.svg#icon-samples-remove' %}"/></svg></button>
    {% elif sampler and sampler.all_samples.count > 4%}

    <button class="btn btn-overlay">FULL SAMPLE</button>
    {% elif product.is_samplable %}

    <button class="btn btn-overlay" onClick="Javascript:addToSampler('{{ product.code }}')"><svg class="icon-l icon">
    <use xlink:href="{% static 'images/svgdefs.svg#icon-samples-add' %}"/></svg></button>

    {% else %}
        {% trans 'product-not-samplable' %}
    {% endif %}

</div>

{% endfor %}
