
{% load view_extra %}
{% load i18n %}
{% load static %}

{% csrf_token %}

<div class="product-thumb infinite-item" id="product-thumb-{{product.code}}" >
    
    <a href="{% url 'product' product.code %}" class="product-thumb-img">
    <img  src="{% if product.cover.imagefile %}  {{ product.cover.imagefile.url }}  {% else %} {% static 'images/products/productthumb-complementary.png' %} {% endif %}" alt="{{ product.name }} / {{ product.serie.name }}">
    </a>
    <a href="{% url 'product' product.code %}" class="product-thumb-title">
        <h5>{{ product.serie.name }}</h5>
        <h4>{{ product.name }}</h4>
        <h6>da <b>{{ product.all_min_price }}</b>€/m2</h6>
    </a>

<!--     {% if sampler|is_in_sample:product.code %}
        <button class="btn btn-overlay" id="btn-prod-thumb-{{product.code}}" onClick="Javascript:removeFromSampler('{{ product.code }}')"><svg class="icon-l icon">
        <use id="button-prod-thumb-{{product.code}}"  xlink:href="{% static 'images/svgdefs.svg#icon-samples-remove' %}"/></svg></button>
    {% elif product.is_samplable %}
        <button class="btn btn-overlay" id="btn-prod-thumb-{{product.code}}" onClick="Javascript:addToSampler('{{ product.code }}')"><svg class="icon-l icon">
        <use id="button-prod-thumb-{{product.code}}" xlink:href="{% static 'images/svgdefs.svg#icon-samples-add' %}"/></svg></button>
    {% endif %} -->

</div>

