{% extends "empty_base.html" %}
{% load view_extra %}
{% load i18n %}

{% block title%} {{ product.name }} | {{ product.publication.title }} {% endblock%}
{% block keywords-meta-tag %} {% trans 'home-keywords-meta-tag' %} {% endblock %}

{% load static %}
{% block content %}

<style type="text/css">
  .hide {
    display: none;
  }

</style>

<div class="content product-header">
  <ul class="breadcrumb">
    <li><a href="{% url 'catalogue' %}"> {% trans 'all-products' %}</a></li>
    <svg class="icon-m icon"><use xlink:href="{% static 'images/svgdefs.svg#icon-caret-right' %}"/></svg>
    <li>
      {% with serie=product|serie %}
        <a href="{% url 'catalogue' %}?filters={{serie.slug}}" >{{serie}} </a><br>
      {% endwith %}
    </li>
  </ul>
  <h1>{{ product.name }}</h1>
  <div class="product-samplebtn">
    <a href="mailto:info@taleoftiles.com" class="btn btn-secondary" target="_blank"><span>
        <h3>{% trans 'sampling-c2a-up' %}</h3> 
        <br/><h4>{% trans 'sampling-c2a-down' %} <i> <a href="mailto:info@taleoftiles.com">info@taleoftiles.com</a></i></h4>
    </span></a>
  </div>
</div>
<div class="content grid grid-product">

  <div class="product-gallery">
     <div class="product-gallery-container">
      {% for image in product.images.all %}
        <div class="product-gallery-item">
          {% if image.imagefile %} 
          <img loading="lazy" src="{{ image.imagefile.url }}"
          {% if image.format_tag %} id="sm_image_{{ image.format_tag }}" {% endif %}
          alt="{{ product.publication.title }}">
          {% else %}
          <div> </div>
          {% endif %}
        </div>
      {% endfor %}
      </div>
    <div class="product-gallery-controls">
      <button class="btn" id="gallerybtn-prev"><svg class="icon icon-m"><use xlink:href="{% static 'images/svgdefs.svg#icon-caret-left' %}"/></svg></button>
      <ul></ul>
      <button class="btn" id="gallerybtn-next"><svg class="icon icon-m"><use xlink:href="{% static 'images/svgdefs.svg#icon-caret-right' %}"/></svg></button>
    </div>
  </div>

  <div class="product-selection">
    <div class="product-options">
      
        
        {% if is_cottoetrusco %}
          <h5>{% trans 'size' %}</h5>
            {% include 'include/cottoetrusco/finiture.html' %}
          <h5>{% trans 'finishes' %}</h5>
            <input type="radio" name="finish" value="001" id="id_finish_0" checked>
            <label for="id_finish_0" id="label_id_finish_0">Terre Ossidate</label>

        {% else %}
          <h5>{% trans 'size' %}</h5>
          <input type="radio" name="size" value="002" id="id_size_0" checked>
          <label for="id_size_0" id="label_id_size_0">{% trans 'special-sizes'|title %}</label>

          <h5>{% trans 'finishes' %}</h5>
            <input type="radio" name="finish" value="003" id="id_finish_0" checked>
            <label for="id_finish_0" id="label_id_finish_0">Naturale</label>

        {% endif %}
    </div>
    

    <div class="product-configuratorbox">
      <h4>{% trans 'Come starà a casa tua?' %}</h4>
      <button class="btn btn-primary" onClick="
        document.getElementById('sample_form_req').classList.toggle('hide'); 
      "><span>
      <strong>Richiedi un Campione Gratuito</strong><br>pagherai solo la spedizione</span></button>

    </div>

<!-- <form  >  -->

  {% csrf_token %}
  <!--  SAMPLE FORM REQUEST  -->
  <div class="hide" id="sample_form_req" >
    <p>Quando ordini una carta da parati ti inviamo <strong>sempre</strong>, prima di confermare l'ordine, un rendering della/e parete/i che vuoi tappezzare, per verificare la resa in base alle proporzioni della parete</p>
    
    {{sample_form}}
  </div>

  <h3>{% trans 'request-quotation' %}</h3>
    <div class="product-addtocartbox">

      <div>
        <div class="row">
          <div><strong>{% trans 'code'%}: {{product.code}}</strong>
            <br><span id="selected_format">11x11 h1.5</span>
          </div>

          <div>
            <div class="product-note" style="color: black;">{% trans 'starting-from' %}</div>
            <div class="product-figure"><span> €</span>
              {% include 'include/cottoetrusco/prezzi.html' %}
          </div><div class="product-note">al m&sup2;</div></div>
        </div>
      </div>

      <div>

        <div class="row">
          <div>
            <strong>{% trans 'superficie-da-rivestire' %}</strong>{% if product.min_ammount > 0 %}<br>{% trans 'min' %}: <b id="min_ammount">{{product.min_ammount}}</b> m&sup2;{% endif %}
          </div>
          <div class="input-qty">

            {{chi_form.quantity}}

            <div class="product-qtybtns">
              <svg class="icon-m icon" onclick=minus_quantity()><use xlink:href="{% static 'images/svgdefs.svg#icon-minus' %}"/></svg>
              <span class="product-note">m&sup2;</span>
              <svg class="icon-m icon" onclick=add_quantity()><use xlink:href="{% static 'images/svgdefs.svg#icon-add' %}"/></svg>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="row">
          {{chi_form.product}}
          <div><strong>{% trans 'total' %}</strong></div>
          <div class="product-figure">€ <strong id="price_catch">{{price}}</strong></div>
        </div>
        <div class="row">
          <div class="checkbox">
            {{chi_form.has_frido}}
            <label for="id_has_frido">{% trans 'include-sfrido' %}</label>
          </div>
        </div>
        <div class="row">
          {% trans 'sfrido-small-description' %}
        </div>
      </div>

      {{chi_form.save_it.as_hidden}}
      {{chi_form.product.as_hidden}}

      <button class="btn btn-primary" style="background-color:rgb(181, 162, 148);text-align: center;" id="btnAddToCart" onClick="Javascript:addToCart()" > {% trans 'add-chart-button' %} <strong><b id="sm_catch">88</b> m&sup2;</strong></button>




    </div>  <!-- product-addtocartbox -->

    <div class="product-shippinginfo">
      <p class="note"><span class="hilite">{% trans 'free-shipping' %}</span></p>

      <p class="note">{% trans 'any-doubt' %}<br>
        <a href="{% url 'support' %}">{% trans 'any-doubt-subtitle' %}</a></p>

    </div>

  </div>

  <div class="product-main">

    {% autoescape off %}
    <p>{{ product.publication.content }}</p>
    {% endautoescape %}

    <!-- ICONE scheda tecnica -->
    <div class="product-marks">
      {% for icon in product.techspec.icons.all %}
        <img  src="{{ icon.imagefile.url }}" >
      {% endfor %}
    </div>

    <!-- Scheda Tecnica -->
    {% if product.techspec %} 
      <a href="{{ product.techspec.file.url }}" download  target="_blank">
        <button class="btn btn-secondary"><svg class="icon-l icon">
          <use xlink:href="{% static 'images/svgdefs.svg#icon-download' %}"/></svg>
          <span>{% trans 'download-tech-spech' %}</span>
        </button>
      </a>
    {% endif %}
  </div>

</div>

{% if product.supports.count > 0 %}
<div class="block block-lightestbg">
  <div class="content">
    <h2>{% trans 'product-support' %}</h2>
  </div>
  <div class="content grid grid4">
  {% for support in product.supports.all %}
    {% product_thumb support %}
  {% endfor %}
  </div>
</div>
{% endif %}


{% if products_series.count > 0 %}
<div class="block block-lightbg">

  <div class="content">
    <h2>{% trans 'product-same-serie' %}</h2>
  </div>

  <div class="content grid grid4">
    {% for brother_product in products_series.all %}
      {% product_thumb brother_product %}
    {% endfor %}
  </div>

</div>
{% endif %}


<script>
  var qtyField = $( '#id_quantity' );

  function compute_money(){

    var rad = document.getElementsByName('size');

    for (var i = 0; i < rad.length; i++) {
      var the_elem = document.getElementsByName("size")[i]
      if (the_elem.checked){
        var value = the_elem.value;
        var sel_size = document.getElementById('label_size_'+value).innerHTML;
        document.getElementById('selected_format').innerHTML = String(sel_size);
        document.getElementById('sm_price_catch_'+sel_size).style.display = "inline";
      }
    }
    
  }

  function add_quantity(){
    qtyField.val( +qtyField.val() + 1 );
    compute_money();
  }

  function minus_quantity(){
    qtyField.val(Math.max(0, +qtyField.val() - 1 ) );
    compute_money();
  }

  window.onload = function() {

    var prev = null;
    var rad = document.getElementsByName('size');

    var some_size_checked = false;
    for (var i = 0; i < rad.length; i++) {

      some_size_checked = document.getElementsByName("size")[i].checked;
      rad[i].addEventListener('change', function() {
          compute_money()
      });
    }
    if (!some_size_checked){
      var value = document.getElementsByName("size")[0].value;
      document.getElementById("id_size_"+value).checked = true;
    }

    compute_money()
  };


  function sendWallPaperRequest() {
      $.ajax({
        type: "POST",
   
        url: "{% url 'product' product.code %}",
        data: {
            csrfmiddlewaretoken: $( 'input[name="csrfmiddlewaretoken"]' ).val(),
            
            email        : $( 'input[id="id_email"]' ).val(),
            name_surname : $( 'input[id="id_name_surname"]' ).val(),
            telephone    : $( 'input[id="id_telephone"]' ).val(),
            width        : $( 'input[id="id_width"]' ).val(),
            height       : $( 'input[id="id_height"]' ).val(),
            notes        : document.getElementById('id_notes').value ,
            accept       : $( 'input[id="id_accept"]' ).prop('checked')
        },
        success: function(result) {
            document.getElementById("results_wallpaper").classList.toggle('hide'); 
            document.getElementById("buy_wallpaper_panel").classList.toggle('hide'); 
            gtag('event', 'conversion', {'send_to': 'AW-968635819/UOTHCNbdpdkCEKvr8M0D'});
        },
        error: function(result) {
            
            $("#wallpaper_form_errors").html("Si prega di compilare i campi contrassegnati con l'asterisco");

            const array1 = result['responseJSON']['html_errors'];
            for (const [key, value] of Object.entries(array1)) {
              document.getElementById("id_"+key).classList.toggle('error'); 
            }
        
        }
      });
    }


!function() {
    "use strict";
    function t(e, t) {
        e.preventDefault(),
        e.stopPropagation();
        var n, o = document.querySelector(".overlay.visible");
        o && o !== t && o.classList.remove("visible"),
        (n = t).classList.contains("visible") || window.addEventListener("click", function() {
            c(n)
        }),
        t.classList.toggle("visible"),
        "overlayAuth" === t.id && t.classList.contains("visible") && document.getElementById("loginEmail").focus()
    }
    function c(e) {
        e.classList.remove("visible")
    }
    function o(e) {
        r = e,
        [].forEach.call(n, function(e) {
            e.classList.remove("selected")
        }),
        n[r].classList.add("selected"),
        i.style.webkitTransform = "translateX(-" + 100 * r + "%)",
        i.style.transform = "translateX(-" + 100 * r + "%)"
    }
    var n, i, e, l, r, s, a, d, u, v;
    ("ontouchstart"in window || 0 < navigator.MaxTouchPoints || 0 < navigator.msMaxTouchPoints) && document.body.classList.add("touch"),
    window.onscroll = function() {
        var e = document.querySelector("header");
        56 < document.documentElement.scrollTop ? e.classList.add("compact") : e.classList.remove("compact")
    }
    ,
    document.querySelectorAll(".nav-dropdown").forEach(function(e) {
        e.querySelector("div:first-child").addEventListener("click", function() {
            this.parentElement.querySelector(".nav-dropdown-options").classList.add("visible")
        }),
        e.addEventListener("mouseleave", function() {
            this.querySelector(".nav-dropdown-options").classList.remove("visible")
        })
    }),
    document.querySelectorAll(".nav-dropdown-options > div").forEach(function(e) {
        e.addEventListener("click", function() {
            this.parentElement.classList.remove("visible")
        })
    }),
    document.querySelectorAll(".btn-tree").forEach(function(e) {
        e.addEventListener("click", function() {
            var e;
            this.classList.contains("btn-tree-open") || (e = this.parentElement.querySelector(".openable")).style.setProperty("--tree-height", e.scrollHeight + "px"),
            this.classList.toggle("btn-tree-open")
        })
    }),
    i = document.querySelector(".product-gallery-container"),
    e = document.querySelectorAll(".product-gallery-item"),
    l = document.querySelector(".product-gallery-controls ul"),
    r = 0,
    s = e.length,
    a = document.getElementById("gallerybtn-prev"),
    d = document.getElementById("gallerybtn-next"),
    [].forEach.call(e, function(e, t) {
        e.dataset.id = t;
        var n = document.createElement("li");
        l.appendChild(n),
        n.addEventListener("click", function() {
            o(t)
        })
    }),
    n = l.querySelectorAll("li"),
    d.addEventListener("click", function() {
        s - 1 <= r || o(+e[++r].dataset.id)
    }),
    a.addEventListener("click", function() {
        r <= 0 || o(+e[--r].dataset.id)
    }),
    o(0),

    document.querySelectorAll(".overlay-title .btn").forEach(function(e) {
        e.addEventListener("click", function() {
            c(this.parentElement.parentElement)
        })
    }),
    document.querySelectorAll(".overlay").forEach(function(e) {
        e.addEventListener("click", function(e) {
            e.stopPropagation()
        })
    }),
    u = document.querySelector(".notification"),
    (v = document.getElementById("btnAddToCart")) && v.addEventListener("click", function() {
        u.classList.add("visible"),
        setTimeout(function() {
            u.classList.remove("visible")
        }, 3e3)
    })
}(window);


</script>


{% endblock %}
