{% extends "empty_base.html" %}
{% load view_extra %}
{% load i18n %}

{% block title%} {{ product.name }} | {{ product.publication.title }} {% endblock%}
{% load static %}
{% block content %}

<div class="content product-header">
  <ul class="breadcrumb">
    <li><a href="{% url 'catalogue' %}"> {% trans 'all-products' %}</a></li>
    <svg class="icon-m icon"><use xlink:href="{% static 'images/svgdefs.svg#icon-caret-right' %}"/></svg>
    <li>
      {% with serie=product|serie %}
        <a href="{% url 'catalogue' the_filter=serie.slug %}" >{{serie}} </a><br>
      {% endwith %}
    </li>
  </ul>
  <h1>{{ product.name }}</h1>
  <div class="product-samplebtn">
    
{% if sampler and sampler.all_samples.count > 4 %}

  <p class="note">{% trans 'full-sampler' %} </p>
{% elif sampler|is_in_sample:product.code %}

  <p class="note">{% trans 'already-in-sampler' %} </p>

{% elif product.is_samplable %}
  <form  action="{% url 'add_sample' product.code %}" method="POST"> 
    {% csrf_token %}
        <button class="btn btn-secondary"><svg class="icon-l icon">
          <use xlink:href="{% static 'images/svgdefs.svg#icon-samples-add' %}"/></svg>
          <span>{% trans 'add-sampler-button' %}</span>
        </button>
  </form>
  <p class="note">{% trans 'add-sampler-text' %}</p>

{% else %}    
    <p class="note">{% trans 'not-samplable' %} </p>
{% endif %}

  </div>
</div>
<script>
  function compute_money(){

    
    // var sel_size; 
    // for(i = 0; i < formats.length; i++) { 
    // }

    var formats = document.getElementsByName('size');
    // var sel_size; 
    for(i = 0; i < formats.length; i++) { 
    //   var name = document.getElementById("id_size_"+i).value
    //   alert(name)
    //   alert('sm_price_catch_'+name)
    //   document.getElementById('sm_price_catch_'+name).style.display = "none";
    if(formats[i].checked) {
        alert('CHECKED '+i)
        sel_size = document.getElementById('label_id_size_'+i).innerHTML
        document.getElementById('selected_format').innerHTML = String(sel_size);
        alert('sm_price_catch_'+sel_size)
        document.getElementById('sm_price_catch_'+sel_size).style.display = "inline";
        

    //     sel_size = document.getElementById("id_size_"+i).value;
    //     document.getElementById('selected_format').innerHTML = String(sel_size);    
    //     alert('sm_price_catch_'+String(sel_size))
    //     document.getElementById('sm_price_catch_'+String(sel_size)).style.display = "inline";
      }
    }
  }
</script>
  
  
<div class="content grid grid-product">

  <div class="product-gallery">

  {% for image in product.images.all %}  
  <img  src="{{ image.imagefile.url }}" alt="{{ product.publication.title }}">
  {% endfor %}
  </div>

    <form  action="{% url 'product' product.code %}" method="POST"> 
{% csrf_token %} 

  <div class="product-selection">
    <div class="product-options">

      <h5>{% trans 'formats' %}</h5>
      {% for choice in chi_form.size %}
          {{ choice.tag }}
          <label  for="{{ choice.id_for_label }}" id="label_{{ choice.id_for_label }}" >{{ choice.choice_label }}</label> 
      {% endfor %}
      </ul>

    </div>


    <div class="product-addtocartbox">
      <div>
        <div class="row">
          <div><strong>Codice: {{product.code}}</strong>
            <br><span id="selected_format">20x20</span>
            <br>{% trans 'finish' %} <span id="selected_finish">A</span>
          </div>
          <div><div class="product-figure"><span> €</span> 
            
            {% for choice in chi_form.size %}
            <b style="display:none;" id="sm_price_catch_{{choice.choice_label}}">{% min_price product 'min_price' choice.choice_label %}</b>
            {% endfor %}


          </div><div class="product-note">al m&sup2;</div></div>
        </div>
      </div>

      <div>
        <div class="row">
          <div>
            <strong>Superficie da rivestire</strong><br>{% trans 'min' %}: <b id="min_ammount">{{product.min_ammount}}</b> m&sup2;
          </div>
          <div class="input-qty">
          
            {{chi_form.quantity}}
            
            <div class="product-qtybtns">
              <svg class="icon-m icon"><use xlink:href="{% static 'images/svgdefs.svg#icon-minus' %}"/></svg>
              <span class="product-note">m&sup2;</span>
              <svg class="icon-m icon"><use xlink:href="{% static 'images/svgdefs.svg#icon-add' %}"/></svg>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="row">
          {{chi_form.product}}
          <div><strong>Totale</strong></div>
          <div class="product-figure">€ <strong id="price_catch">{{price}}</strong></div>
        </div>
        <div class="row">
          <div class="checkbox">
            
            {{chi_form.has_frido}}
            <label for="includeOffCut">{% trans 'include-sfrido' %}</label>
          </div>
          <div>
            <div class="btn btn-tooltip"><svg class="icon-m icon"><use xlink:href="{% static 'images/svgdefs.svg#icon-info' %}"/></svg></div>
          </div>
        </div>
      </div>

      {{chi_form.save_it.as_hidden}}
      <button class="btn btn-primary" style="background-color:rgb(181, 162, 148);text-align: center;" ><span>{% trans 'calc-price' %} </span></button>
    
    
    </div>  <!-- product-addtocartbox -->
    <div class="product-shippinginfo">
      <p class="note"><span class="hilite">{% trans 'free-shipping' %}</span></p>
      <p class="note">Questo prodotto può essere spedito<br><strong>entro {{product.wait_time}} settimane</strong></p>
      <p class="note">Hai qualche dubbio?<br>
        <a href="support.html">Contatta l’assistenza o consulta le domande frequenti</a></p>
    </div>
    

  </div>

 </form>
    <!-- <div class="btn btn-primary" id="btnAddToCart"><span>{% trans 'add-chart-button' %} <strong><b id="sm_catch">88</b> m&sup2;</strong></span></div> -->
   
  <div class="product-main">
    
	{% autoescape off %}
		{{ product.publication.content }} 
	{% endautoescape %}

    <!-- ICONE scheda tecnica -->
    <div class="product-marks">
      {% for icon in product.techspec.icons.all %}  
        <img  src="{{ icon.imagefile.url }}" >
      {% endfor %}
    </div>

    <!-- Scheda Tecnica -->
    {% if product.techspec %}
    <button class="btn btn-secondary"><svg class="icon-l icon">
      <use xlink:href="{% static 'images/svgdefs.svg#icon-download' %}"/></svg>
      <span>{% trans 'download-tech-spech' %}</span>
      {{ product.techspec }}
    </button>
    {% endif %}
  </div>

  <div class="product-meta">
    <ul class="product-thumbs">
      {% for image in product.images.all %}  
        <li>{{ image.thumb_ }}</li>
      {% endfor %}
    </ul>

	{% for effect in product|effects %}  
    <a href="{% url 'catalogue' the_filter=effect.slug %}"  class="tag">{{effect.name}} </a><br>
	{% endfor %}

  {% for colour in product|colour %}  
    <a href="{% url 'catalogue' the_filter=colour.slug %}"  class="tag">{{colour.name}} </a><br>
	{% endfor %}


  <h5>{% trans 'settings' %}</h5>
    
  {% for style in product|styles %}  
      <a href="{% url 'catalogue' the_filter=style.slug %}"  class="tag">{{style.name}} </a><br>
  {% endfor %}
  </div>

</div>

{% if product.supports.count > 0 %}
<div class="block block-lightestbg">
  <div class="content">
    <h2>{% trans 'product-support' %}</h2>
  </div>
  <div class="content grid grid4">
	{% for support in product.supports.all %}  
		{% product_thumb support %}
	{% endfor %}
  </div>
</div>
{% endif %}


{% if products_series.count > 0 %}
<div class="block block-lightbg">

  <div class="content">
    <h2>{% trans 'product-same-serie' %}</h2>
  </div>

  <div class="content grid grid4">
    {% for brother_product in products_series.all %}  
      {% product_thumb brother_product %}
    {% endfor %}
  </div>

</div>
{% endif %}

<br/>





	{{chi_form.product}}
	{{chi_form.has_frido}}
	{{chi_form.has_frido.label_tag}}
	
	{{chi_form.quantity.label_tag}}
	{{chi_form.quantity}}

{{chi_form.save_it.label}}
{{chi_form.save_it.as_hidden}}


	<button> {% trans 'add-chart-button' %} </button>

</form>

<!-- GINO
{{product.price}}


<form  action="{{request.get_full_path|urlencode}}" method="POST"> 
	{% csrf_token %}

	{% for price in product.prices.all %}  
		<input type="radio" name="size" value="{{price.size.name}}">{{price.size.name}} 
	{% endfor %}

	<button > refresh price</button>
</form>
 -->

<!-- CHART calc !-->
<div>

</div>  

<script>
  window.onload = function() {
  
};
  
</script>


{% endblock %}

