{% extends "empty_base.html" %}
{% load view_extra %}
{% load i18n %}

{% block title%} {{ product.publication.title }} {% endblock%}

{% load static %}


{% block content %}

{{ product.publication.title }}

<br/>

{{product.serie}}

{% for image in product.images.all %}  
<img  src="{{ image.imagefile.url }}" >
{% endfor %}

<br/>

{% autoescape off %}
	{{ product.publication.content }} 
{% endautoescape %}

<!-- scheda tecnica -->
{{ product.techspec }} 

<!-- ICONE scheda tecnica -->
{% for icon in product.techspec.icons.all %}  
<img  src="{{ icon.imagefile.url }}" >
{% endfor %}


{{product.color}}

{% for format in product.formats.all %}  
	{% for more_format in format.child.all %}
		{{more_format.name}}       
	{% endfor %}            
{% endfor %}


{% for finish in product.finishes.all %}  
	{{finish.name}}       
{% endfor %}

{{product.price}}

<h3>{% trans 'product-support' %}</h3>

{% for support in product.supports.all %}  
	{{support}}
{% endfor %}

<h3>{% trans 'product-same-serie' %}</h3>
{% for brother_product in products_series.all %}  
	{{brother_product}}
{% endfor %}

<hr>
<!-- SAMPLER !-->

{% if sampler and sampler.all_samples.count >= 4 %}
	HAI RIEMPITO IL SAMPLER
{% elif sampler|is_in_sample:product.publication.slug %}

	QUESTO PRODOTTO E' NEL SAMPLER 

{% else %}

	<form  action="{% url 'add_sample' product.publication.slug %}" method="POST"> 
		{% csrf_token %}
		<button > {% trans 'add-sampler' %}</button>
	</form>

{% endif %}

<hr>

<!-- CHART calc !-->
<form  action="{% url 'add_chart' product.publication.slug %}" method="POST"> 
	{% csrf_token %}
	<button > aggiungi al carrello</button>
</form>


{% endblock %}

