{% extends "base.html" %}

{% load static %}

{% block content %}
  <div class="container">


<h2> YOUR SAMPLE</h2>
<p>
It will arrive to your house for FREE for giving you the exact sensation of how this is gonna look - we are so sure you would love the quality of our
</p>

STATE: {{ sampler.completion_status }}	

{% for sample in samples %}  

	{% if sample != None %}
		{{ sample.product.publication.title }}
		<form  action="/sampler/{{ sampler.session_id }}/del/{{sample.product}}" method="POST">
			{% csrf_token %}
			<button>remove</button>
		</form>

		
	{% else %}

		<button>Add your free sampler</button>

	{% endif %}

{% endfor %}

<form  action="/sampler/{{ sampler.session_id }}" method="POST">
	{% csrf_token %}
	<button> receive your free sampler</button> 
</form>


{% endblock %}