{% extends "base.html" %}
{% load view_extra %}

{% load static %}

{% block title%} Setting |  {{ setting.publication.title }} {% endblock%}

{% block content %}

<div class="container">

<h2> SETTING</h2>

<h4>{{ setting.publication.title }}</h4>
  
{% for image in setting.images.all %}  
  <img width="200px" style="object-fit: contain;" 
  src="{{ image.imagefile.url }}" >  
{% endfor %}

<p>{{ setting.publication.content }}</p>

<h3> PRODUCTS in this setting</h3>

{% for product in setting.products.all %}
	{% product_small product%}
{% endfor %}


</div>

{% endblock %}