{% extends "checkout_base.html" %}
{% load view_extra %}
{% load i18n %}

{% block title%} {% trans 'shipping-title' %} {% endblock%}

{% load static %}

{% block content %}

<div class="content grid grid-checkout">
    <form method="post" action="{{request.get_full_path}}" name="shipping_form">
    <div>
  
      <div class="checkout-title">
        <!-- <a href="{{prv_page|urlencode}}" class="btn-link"><svg class="icon-l icon">
            <use xlink:href="{% static 'images/svgdefs.svg#icon-arrow-left ' %}"/></svg>{% trans 'checkout-back' %}</a> -->
        <h1>{% trans 'shipping-title' %}</h1>
      </div>
  
      <div class="grid subgrid-checkout">
        <div>
          <p class="note"><span class="hilite">{% trans 'all-field-compulsory' %}</span></p>
        </div>
        <div>
                {% csrf_token %}
                
            <div class="formrow">
              
              {{ form.fullname.label_tag }}
              {{ form.fullname }}              
            </div>
            <div class="formrow">
                {{ form.email.label_tag }}
                {{ form.email }}              
            </div>
            <div class="formrow">
              {{ form.country.label_tag }}
              {{ form.country }}
            </div>
            <div class="formrow formrow-multi">
              <div class="formitem">
                {{ form.city.label_tag }}
                {{ form.city }}                
              </div>
              <div class="formitem formitem-short">
                {{ form.CAP.label_tag }}
                {{ form.CAP }}
              </div>
            </div>
            <div class="formrow">
              {{ form.shipping_address.label_tag }}
              {{ form.shipping_address }}
            </div>
            <div class="formrow">
              {{ form.telephone_num.label_tag }}
              {{ form.telephone_num }}

            </div>

            
        </div>
      </div>
  
    </div>
  


    </form>

     
       <aside>
            <input type="hidden" name="prv" value="{{ prv_page }}">
            <button  id="insert_shipping_button"  class="btn btn-primary disabled" onclick="formSubmit()"><span>{% trans 'shipping-insert-order' %}</span><svg class="icon icon-m">
            <use xlink:href="{% static 'images/svgdefs.svg#icon-arrow-right' %}"/></svg></button>
          
            {% if not user.is_authenticated %}
            <div class="asidebox">
                <h4>{% trans 'already-registered' %}</h4>
                <p class="note">{% trans 'save-time' %} <a href="" data-overlay="Auth">{% trans 'login-call-to-action' %}</a> {% trans 'login-call-to-action-2' %}</p>
            </div>
            {% endif %}
            <div class="asidebox">
                <h4>{% trans 'island-and-cap-title' %}</h4>
                <p class="note">{% trans 'island-and-cap-text' %} </p>
            </div>
      </aside>
  </div>
  

<script>

document.querySelector( '#insert_shipping_button' ).classList.remove( 'disabled' );
document.querySelector( '.nav-primary > ul > li:nth-child(2)' ).classList.add( 'selected' );

function formSubmit() {
    // Se è stato inserito un nome verrà effettuato il submit
    document.shipping_form.submit();
    return true;
  }


</script>

  

{% endblock %}

