{% extends "base.html" %}
{% load view_extra %}

{% load static %}

{% block title %} Shipping and tracking {% endblock %}

{% block content %}
 <h1> POsto sbagliatissimo</h1>


{% endblock %}

<div class="container">


<h2> SHIP THE SAMPLER</h2>


{% if  diff_num_samples == 0 %}  
		
<p></p>

{% else %}
	<p>You can add more {{ diff_num_samples }} samples </p>
{% endif %}

<form action="/sampler/{{sampler.session_id }}/shipit"   method="post" >
    
	{% csrf_token %}
	{{ form }}
	<input type="hidden" id="session_id" name="session_id" value="{{sampler.session_id}}">
	<input type="submit" value="Save" />

</form>  


<h4>{{message}}</h4>

</div>