{% extends "checkout_base.html" %}

{% load view_extra %}
{% load i18n %}
{% load static %}

{% block title %} {% trans 'summary-title' %} {% endblock%}

{% block content %}

<div class="content grid grid-checkout">
	<div>
	<div class="checkout-title">	
		<a href="{{prv_page|urlencode}}" class="btn-link"><svg class="icon-l icon">
			<use xlink:href="{% static 'images/svgdefs.svg#icon-arrow-left' %}"/></svg>{% trans 'checkout-back' %}</a>
		<h1>{% trans 'summary-page-name' %}</h1>
	</div>
	
{% if order.is_sampler %}
	{% for sampler in order.sampler.all %} 
  
	  <div class="cartrecap">
		<div class="cartreacap-header"><h5></h5><h5 >{% trans 'price' %}</h5></div>

		<div class="cartrecap-item">
			{% for sample in sampler.all_samples %}	
				<div class="cartrecap-thumb"  style="background-image:url('{{sample.product.images.thumb_}}')">
					{{sample.product.name}}
				</div>
			{% endfor %}		

			<div class="cartrecap-main">
			  <h5></h5>
			  <h4>{% trans 'summary-sample-title' %}</h4>
			  <p>{% trans 'summary-sample-subtitle' %}</p>
			</div>
			<div class="cartrecap-price">
			  <span class="product-figure"  
			  {% if sampler.total_price <= 0 %}
			   style="text-decoration: line-through;"
			   {% endif %} >€ 25</span>
			</div>
		</div>

		<div class="cartrecap-item cartrecap-total">
		  <div class="cartrecap-main">
			<h4>{% trans 'summary-total-title' %}</h4>
		  </div>
		  <div class="cartrecap-price">
			<span class="product-figure">€ {{sampler.total_price}}</span>
		  </div>
		</div>
  
	  </div>
  

	{% endfor %} 
{% else %} 
	


    <div class="cartrecap">

      <div class="cartreacap-header">
        <h5>Quantità</h5>
        <h5>Prezzo</h5>
      </div>
	{% for chart in order.charts.all %}
	{% for chart_item in chart.chart_item.all %}
		<div class="cartrecap-item">
        <div class="cartrecap-thumb" style="background-image:url('images/products/productthumb.png')"></div>
        <div class="cartrecap-main">
          <h5>{{chart_item.product.serie}}</h5>
          <h4>{{chart_item.product.name}}</h4>
          <p>{{chart_item.size}} / {{chart_item.finish}} / {{chart_item.product.colour}}</p>
        </div>
        <div class="cartrecap-qty">
          <p class="note">{{chart_item.boxes}} {% trans 'boxes'%}</p>
          <div class="input-qty">
            <input type="number" value="{{chart_item.quantity}}" min="10" max="1000" step="0.01">
            <div class="product-qtybtns">
              <button class="btn"><svg class="icon-m icon"><use xlink:href="{% static 'images/svgdefs.svg#icon-minus' %}"/></svg></button><span class="product-note">m&sup2;</span><button class="btn">
				  <svg class="icon-m icon"><use xlink:href="{% static 'images/svgdefs.svg#icon-add' %}"/></svg></button>
            </div>
          </div>
        </div>
        <div class="cartrecap-price">
			<span class="product-figure">€ {{chart_item.price}}</span>
			<a href="{% url 'del_chart' chart_item.pk %}"> 
				
				<button class="btn"><svg class="icon icon-l"><use xlink:href="{% static 'images/svgdefs.svg#icon-delete' %}"/></svg></button>
			</a>
        </div>
      </div>
	{% endfor %}
	{% endfor %} 
	</div>
	     <div class="cartrecap-item">
        <div class="cartrecap-main">
          <h4>Spese di spedizione</h4>
          <p class="note">Per ogni tuo acquisto su Tale Of Tiles le spese di spedizione in tutta Europa sono sempre incluse</p>
        </div>
        <div class="cartrecap-price">
          <span class="product-figure">€ 0</span>
        </div>
      </div>

      <div class="cartrecap-item cartrecap-total">
        <div class="cartrecap-main">
          <h4>{% trans 'order-total' %}</h4>
        </div>
        <div class="cartrecap-price">
          <span class="product-figure">€ {{order.total}}</span>
        </div>
      </div>
{% endif %} 
		
  
</div>
<aside>
	
	<a href="{% url 'shipping' order.internal_tracking_id %}" class="btn btn-primary">
		<span>{% trans 'summary-insert-shipping' %}</span><svg class="icon icon-m">
			<use xlink:href="{% static 'images/svgdefs.svg#icon-arrow-right' %}"/></svg>
	</a>
	<p class="note">{% trans 'summary-longtext' %}	</p>
	<div class="asidebox">
	<h4>Considera lo sfrido</h4>
	<p class="note">Ti consigliamo di considerare sempre il <strong>10% in più</strong> rispetto alla quantità di prodotto strettamente necessaria, per gestire bla bla bla…</p>
	</div>
</aside>

</div>
  
<script>
document.querySelector( '.nav-primary > ul > li:first-child' ).classList.add( 'selected' );
</script>


{% endblock %}

