{% extends "checkout_base.html" %}
{% load view_extra %}
{% load i18n %}

{% block title%} {% trans 'summary-title' %} {% endblock%}

{% load static %}

{% block content %}

<a href="{{prv_page|urlencode}}"> {% trans 'summary-back' %} </a>

## {{ charts.count }}


{% for chart in charts %}
	---> {{ chart.total }}

	{% for chart_item in chart.all_items %}
	  	{{chart_item.product}}
	  	{{chart_item.product.thumb_}}
	  	{{chart_item.product.serie}}
	  	{{chart_item.quantity}}

	  	<a href="{% url 'del_chart' chart_item.product.publication.slug False %}"> del this</a>

	{% endfor %}

{% endfor %}

<a href="{% url 'shipping' %}?prv={{prv_page|urlencode}}"> SHIPPING</a> 


{% endblock %}

