{% extends "checkout_base.html" %}

{% load view_extra %}
{% load i18n %}
{% load static %}

{% block title %} {% trans 'summary-title' %} {% endblock%}

{% block content %}

<div class="content grid grid-checkout">
	<div>
	<div class="checkout-title">	
		{% if prev_page %}
			<a href="{{prv_page|urlencode}}" class="btn btn-primary">
				<svg class="icon-l icon"><use xlink:href="{% static 'images/svgdefs.svg#icon-arrow-left' %}"/></svg>
				<span>{% trans 'summary-back-home' %} </span>
			</a>
		{% else %}
			<a href="{% url 'account'%}" class="btn btn-primary">
				<svg class="icon-l icon"><use xlink:href="{% static 'images/svgdefs.svg#icon-arrow-left' %}"/></svg>
				<span>{% trans 'summary-back-home' %} </span>
			</a>
		{% endif %}
		
		<!-- <a href="{{prv_page|urlencode}}" class="btn-link"><svg class="icon-l icon">
			<use xlink:href="{% static 'images/svgdefs.svg#icon-arrow-left' %}"/></svg>{% trans 'checkout-back' %}</a> -->
		<h1>{% trans 'summary-page-name' %}</h1>
	</div>
	
{% if order.is_sampler %}
	{% for sampler in order.sampler.all %} 
  
	  <div class="cartrecap">
		<div class="cartreacap-header"><h5></h5><h5 >{% trans 'price' %}</h5></div>

		<div class="cartrecap-item">
			{% for sample in sampler.all_samples %}	
				<div class="cartrecap-thumb"  style="background-image:url('{{sample.product.cover.imagefile.url}}')">
					{{sample.product.name}}
				</div>
			{% endfor %}		

			<div class="cartrecap-main">
			  <h5></h5>
			  <h4>{% trans 'summary-sample-title' %}</h4>
			  <p>{% trans 'summary-sample-subtitle' %}</p>
			</div>
			<div class="cartrecap-price">
			  <span class="product-figure"  
			  {% if sampler.total_price <= 0 %}
			   style="text-decoration: line-through;"
			   {% endif %} >€ 25</span>
			</div>
		</div>

		<div class="cartrecap-item cartrecap-total">
		  <div class="cartrecap-main">
			<h4>{% trans 'summary-total-title' %}</h4>
		  </div>
		  <div class="cartrecap-price">
			<span class="product-figure">€ {{sampler.total_price}}</span>
		  </div>
		</div>
  
	  </div>
  

	{% endfor %} 
{% else %} 

    <div class="cartrecap">

      <div class="cartreacap-header">
        <h5>{% trans 'quantity' %}</h5>
        <h5>{% trans 'price' %}</h5>
      </div>
	{% for chart in order.charts.all %}
	{% for chart_item in chart.chart_item.all %}
		<div class="cartrecap-item">
        	<div class="cartrecap-thumb" style="background-image:url('{{chart_item.product.cover.imagefile.url}}')">
        	</div>
	        <div class="cartrecap-main">
	          <h5>{{chart_item.product.serie}}</h5>
	          <h4>{{chart_item.product.name}}</h4>
	          <p>{{chart_item.size}} / {{chart_item.finish}} / {{chart_item.product.colour}}</p>
	        </div>
	        <div class="cartrecap-qty">
	          <p class="note">{{chart_item.boxes}} rotoli</p>
	          <div class="input-qty">
	            {{chart_item.quantity}}m&sup2;
				{% if chart_item.has_frido %}
	            <div class="product-qtybtns">
					<span class="product-note">{% trans 'this-product-has-frido' %}</span>
	            </div>
				{% endif %}
	          </div>
	        </div>
	        <div class="cartrecap-price">
				<span class="product-figure">€ {{chart_item.price}}</span>
				<a href="{% url 'del_chart' chart_item.pk %}"> 
					<button class="btn"><svg class="icon icon-l"><use xlink:href="{% static 'images/svgdefs.svg#icon-delete' %}"/></svg></button>
				</a>
	        </div>
      </div>
	{% endfor %}
	{% endfor %} 
	</div>
	<div class="cartrecap-item">
        <div class="cartrecap-main">
          <h4>{% trans 'shipping-cost' %}</h4>
          <p class="note">spedizione fissa in tutta italia</p>
        </div>
        <div class="cartrecap-price">
          <span class="product-figure">€ 45</span>
        </div>
    </div>
	{% if order.discount %}
    <div class="cartrecap-item">
        <div class="cartrecap-main">
          {% trans 'applied-code' %}<h4>{{order.discount.code}}</h4>
        </div>
        <div class="cartrecap-price">
          <span class="product-figure"> € - {{order|order_discount}}</span>
        </div>
    </div>
	{% endif %}

      <div class="cartrecap-item cartrecap-total">
        <div class="cartrecap-main">
          <h4>{% trans 'order-total' %}</h4>
        </div>
        <div class="cartrecap-price">
          <span class="product-figure">€ {{ order.total|add:45 }}</span>
        </div>
      </div>
{% endif %} 
		
  
</div>
<aside>
	
	<a href="{% url 'shipping' order.internal_tracking_id %}" class="btn btn-primary">
		<span>{% trans 'summary-insert-shipping' %}</span><svg class="icon icon-m">
			<use xlink:href="{% static 'images/svgdefs.svg#icon-arrow-right' %}"/></svg>
	</a>
	<p class="note">{% trans 'summary-longtext' %}	</p>
	<div class="asidebox">
	<h4>{% trans 'consider-sfrido' %}</h4>
	<p class="note">
		{% blocktrans %} consider-sfrido <strong>10% more</strong> consider-sfrido{% endblocktrans %}
	</div>
	{% if not order.discount %}
	<div class="asidebox">
		<form method="post" action="{% url 'summary' order.internal_tracking_id %}">
			<h4>{% trans 'do-you-have-a-code' %}?</h4>
			{% csrf_token %}
			{{discount_form}}
			<h5><span><button class="btn btn-primary">{% trans 'apply-coupon' %}</button></span></h5>
		</form>
	</div>
	{% endif %}

</aside>

</div>
  
<script>
document.querySelector( '.nav-primary > ul > li:first-child' ).classList.add( 'selected' );
</script>


{% endblock %}

