{% extends "empty_base.html" %}
{% load view_extra %}
{% load i18n %}

{% block title%} Tale of Tiles | {% trans 'support' %} {% endblock%}
{% block keywords-meta-tag %} {% trans 'home-keywords-meta-tag' %} {% endblock %}

{% load static %}

{% block content %}

<div class="block">
  <div class="content grid grid4 grid-supportcontacts">
    <h1>{% trans 'support'|title %} </h1>
    <a href="mailto:info@taleoftiles.com" class="btn-gridbox">
      <h4>{% trans 'support-text-1' %} </h4>
      <p>{% trans 'write-us' %} <strong>info@taleoftiles.com</strong></p>
    </a>
    <a href="mailto:orders@taleoftiles.com" class="btn-gridbox">
      <h4>{% trans 'support-text-2' %} </h4>
      <p>{% trans 'write-us' %} <strong>orders@taleoftiles.com</strong></p>
    </a>
    <a href="tel:+3939212345678" class="btn-gridbox">
      <h4>{% trans 'support-text-3' %} </h4>
      <p>{% trans 'contact-us' %}<strong>(+39) 392 800 4082</strong></p>
    </a>
  </div>
</div>

<!-- <div class="block block-coldbg block-faqquestions">
  <div class="content">
    <h1>{% trans 'contact-us'|title %}</h1>
  
    <div>
      <div class="faqquestions-question">
      <h4>{% trans 'faq-contact-us'  %}</h4>
        <p>
          <form method="post" action="{% url 'support' %}">
            {% csrf_token %}
            <p>{{contact_form}}</p>
  
            <input type="submit" class="btn btn-primary" value="{% trans 'send-request' %}">
            <input type="hidden" name="next" value="{{ request.get_full_path }} " />

          </form>
        </p>
      </div>
    </div>
  </div>
</div> -->

{% endblock %}
