{% extends "empty_base.html" %}
{% load view_extra %}
{% load i18n %}

{% block title%} Tale of Tiles | {% trans 'support-page-name' %} {% endblock%}

{% load static %}

{% block content %}

<div class="block">
  <div class="content grid grid4 grid-supportcontacts">
    <h1>{% trans 'support-page-name' %} </h1>
    <a href="mailto:info@taleoftiles.com" class="btn-gridbox">
      <h4>{{ layout_elems|get_elem:'support-text-1' }}</h4>
      <p>{% trans 'write-us' %} <strong>info@taleoftiles.com</strong></p>
    </a>
    <a href="mailto:orders@taleoftiles.com" class="btn-gridbox">
      <h4>{{ layout_elems|get_elem:'support-text-2' }}</h4>
      <p>{% trans 'write-us' %} <strong>orders@taleoftiles.com</strong></p>
    </a>
    <a href="tel:+3939212345678" class="btn-gridbox">
      <h4>{{ layout_elems|get_elem:'support-text-3' }}</h4>
      <p>{% trans 'contact-us' %}<strong>(+39) 392 12345678</strong></p>
    </a>
  </div>
</div>

<div class="block block-coldbg block-faqquestions">
  <div class="content">
    <h1>{% trans 'frequent-question' %}</h1>
    <div class="supportnav">
      <a href="#prodotti"   class="btn-link btn-link-arrow">{% trans 'products'|title  %}</a>
      <a href="#campioni"   class="btn-link btn-link-arrow">{% trans 'samples'|title  %}</a>
      <a href="#pagamento"  class="btn-link btn-link-arrow">{% trans 'payments'|title  %}</a>
      <a href="#spedizioni" class="btn-link btn-link-arrow">{% trans 'shippings'|title  %}</a>
      <a href="#azienda"    class="btn-link btn-link-arrow">{% trans 'company'|title  %}</a>
      <div class="supportnav-filter">
        <input type="search" placeholder="{% trans 'search' %}" required>
      </div>
    </div>
  </div>
  <div class="content grid grid-faqquestions">
    <h2><a name="prodotti"></a>{% trans 'products'|title  %}</h2>
    <div>
      <div class="faqquestions-question">
        <button class="btn btn-tree"><h4>Come funziona la spedizione?</h4><svg class="icon icon-l"><use xlink:href="{% static 'images/svgdefs.svg#icon-caret-down' %}"/></svg></button>
        <div class="openable">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sint minus, deleniti vitae distinctio quia quasi nulla laborum neque ipsum, totam et, quos ea aliquam.</p>
        </div>
      </div>
      <div class="faqquestions-question">
        <button class="btn btn-tree"><h4>Come funziona la spedizione?</h4><svg class="icon icon-l"><use xlink:href="{% static 'images/svgdefs.svg#icon-caret-down' %}"/></svg></button>
        <div class="openable">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sint minus, deleniti vitae distinctio quia quasi nulla laborum neque ipsum, totam et, quos ea aliquam.</p>
        </div>
      </div>
      <div class="faqquestions-question">
        <button class="btn btn-tree"><h4>Come funziona la spedizione?</h4><svg class="icon icon-l"><use xlink:href="{% static 'images/svgdefs.svg#icon-caret-down' %}"/></svg></button>
        <div class="openable">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sint minus, deleniti vitae distinctio quia quasi nulla laborum neque ipsum, totam et, quos ea aliquam.</p>
        </div>
      </div>
    </div>
    <h2><a name="campioni"></a>{% trans 'samples'|title  %}</h2>
    <div>
      <div class="faqquestions-question">
        <button class="btn btn-tree"><h4>Come funziona la spedizione?</h4><svg class="icon icon-l"><use xlink:href="{% static 'images/svgdefs.svg#icon-caret-down' %}"/></svg></button>
        <div class="openable">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sint minus, deleniti vitae distinctio quia quasi nulla laborum neque ipsum, totam et, quos ea aliquam.</p>
        </div>
      </div>
      <div class="faqquestions-question">
        <button class="btn btn-tree"><h4>Come funziona la spedizione?</h4><svg class="icon icon-l"><use xlink:href="{% static 'images/svgdefs.svg#icon-caret-down' %}"/></svg></button>
        <div class="openable">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sint minus, deleniti vitae distinctio quia quasi nulla laborum neque ipsum, totam et, quos ea aliquam.</p>
        </div>
      </div>
    </div>
    <h2><a name="pagamento"></a>{% trans 'Payments'|title  %}</h2>
    <div>
      <div class="faqquestions-question">
        <button class="btn btn-tree"><h4>Come funziona la spedizione?</h4><svg class="icon icon-l"><use xlink:href="images/svgdefs.svg#icon-caret-down"/></svg></button>
        <div class="openable">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sint minus, deleniti vitae distinctio quia quasi nulla laborum neque ipsum, totam et, quos ea aliquam.</p>
        </div>
      </div>
      <div class="faqquestions-question">
        <button class="btn btn-tree"><h4>Come funziona la spedizione?</h4><svg class="icon icon-l"><use xlink:href="images/svgdefs.svg#icon-caret-down"/></svg></button>
        <div class="openable">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sint minus, deleniti vitae distinctio quia quasi nulla laborum neque ipsum, totam et, quos ea aliquam.</p>
        </div>
      </div>
      <div class="faqquestions-question">
        <button class="btn btn-tree"><h4>Come funziona la spedizione?</h4><svg class="icon icon-l"><use xlink:href="images/svgdefs.svg#icon-caret-down"/></svg></button>
        <div class="openable">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sint minus, deleniti vitae distinctio quia quasi nulla laborum neque ipsum, totam et, quos ea aliquam.</p>
        </div>
      </div>
    </div>
    <h2><a name="spedizioni"></a>{% trans 'shippings'|title  %}</h2>
    <div>
      <div class="faqquestions-question">
        <button class="btn btn-tree"><h4>Domanda molto lunga, ma con una risposta ancora più lunga, più di tutte le altre</h4><svg class="icon icon-l"><use xlink:href="images/svgdefs.svg#icon-caret-down"/></svg></button>
        <div class="openable">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sint minus, deleniti vitae distinctio quia quasi nulla laborum neque ipsum, totam et, quos ea aliquam.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sint minus, deleniti vitae distinctio quia quasi nulla laborum neque ipsum, totam et, quos ea aliquam.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sint minus, deleniti vitae distinctio quia quasi nulla laborum neque ipsum, totam et, quos ea aliquam.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sint minus, deleniti vitae distinctio quia quasi nulla laborum neque ipsum, totam et, quos ea aliquam.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sint minus, deleniti vitae distinctio quia quasi nulla laborum neque ipsum, totam et, quos ea aliquam.</p>
        </div>
      </div>
      <div class="faqquestions-question">
        <button class="btn btn-tree"><h4>Come funziona la spedizione?</h4><svg class="icon icon-l"><use xlink:href="images/svgdefs.svg#icon-caret-down"/></svg></button>
        <div class="openable">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sint minus, deleniti vitae distinctio quia quasi nulla laborum neque ipsum, totam et, quos ea aliquam.</p>
        </div>
      </div>
      <div class="faqquestions-question">
        <button class="btn btn-tree"><h4>Come funziona la spedizione?</h4><svg class="icon icon-l"><use xlink:href="images/svgdefs.svg#icon-caret-down"/></svg></button>
        <div class="openable">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sint minus, deleniti vitae distinctio quia quasi nulla laborum neque ipsum, totam et, quos ea aliquam.</p>
        </div>
      </div>
    </div>
    <h2><a name="azienda"></a>{% trans 'company'|title  %}</h2>
    <div>
      <div class="faqquestions-question">
        <button class="btn btn-tree"><h4>Come funziona la spedizione?</h4><svg class="icon icon-l"><use xlink:href="images/svgdefs.svg#icon-caret-down"/></svg></button>
        <div class="openable">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sint minus, deleniti vitae distinctio quia quasi nulla laborum neque ipsum, totam et, quos ea aliquam.</p>
        </div>
      </div>
      <div class="faqquestions-question">
        <button class="btn btn-tree"><h4>Come funziona la spedizione?</h4><svg class="icon icon-l"><use xlink:href="images/svgdefs.svg#icon-caret-down"/></svg></button>
        <div class="openable">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sint minus, deleniti vitae distinctio quia quasi nulla laborum neque ipsum, totam et, quos ea aliquam.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}