{% extends "empty_base.html" %}
{% load view_extra %}
{% load i18n %}

{% block title%} Tale of Tiles | {% trans 'support-page-name' %} {% endblock%}

{% load static %}

{% block content %}


<h1>{% trans 'support-page-name' %}</h1>

{% trans 'frequent-question' %}


{{ layout_elems|get_elem:'support-text-1' }}

{{ layout_elems|get_elem:'support-text-2' }}
{% trans 'write-us-orders' %}

{{ layout_elems|get_elem:'support-text-3' }}
{% trans 'write-us-sells' %}

{{ layout_elems|get_elem:'support-text-4' }}
{% trans 'write-us-support' %}


{% trans 'search' %}

<!-- ------------- -->
{% trans 'products' %}
{% define layout_elems|get_elem:'support-faq-prods-1' as faq1 %}
	{{ faq1.name }}
	{{ faq1.content }}
	
{% define layout_elems|get_elem:'support-faq-prods-2' as faq2 %}
	{{ faq2.name }}
	{{ faq2.content }}
	
<!-- ------------- -->
{% trans 'samples' %}
{% define layout_elems|get_elem:'support-faq-sample-1' as faq3 %}
	{{ faq3.name }}
	{{ faq3.content }}

{% define layout_elems|get_elem:'support-faq-sample-2' as faq4 %}
	{{ faq4.name }}
	{{ faq4.content }}

<!-- ------------- -->
{% trans 'payment' %}
{% define layout_elems|get_elem:'support-faq-payment-1' as faq5 %}
	{{ faq5.name }}
	{{ faq5.content }}

{% define layout_elems|get_elem:'support-faq-payment-2' as faq6 %}
	{{ faq6.name }}
	{{ faq6.content }}

<!-- ------------- -->
{% trans 'shipping' %}
{% define layout_elems|get_elem:'support-faq-shipping-1' as faq7 %}
	{{ faq7.name }}
	{{ faq7.content }}

{% define layout_elems|get_elem:'support-faq-shipping-2' as faq8 %}
	{{ faq8.name }}
	{{ faq8.content }}

<!-- ------------- -->
{% trans 'company' %}
{% define layout_elems|get_elem:'support-faq-company-1' as faq9 %}
	{{ faq9.name }}
	{{ faq9.content }}

{% define layout_elems|get_elem:'support-faq-company-2' as faq10 %}
	{{ faq10.name }}
	{{ faq10.content }}

{% endblock %}

